<template>
  <section class="ce-or-ee slp-mt-48">
    <SlpRow class="slp-justify-content-center slp-mb-128">
        <div class="enterprise-edition ce-or-ee-card slp-p-24">
          <div v-if="data.enterprise.recommended" class="ce-or-ee-card__recommended slp-mb-16">
            RECOMMENDED
          </div>
          <h2 class="slp-mb-16">{{ data.enterprise.title }}</h2>
          <ul class="ce-or-ee-card__features slp-mb-32">
            <li
              v-for="feature in data.enterprise.features"
              :key="feature.title"  
              class="ce-or-ee-card__feature slp-mb-8"
            >
            <div class="ce-or-ee-card__feature-content" >
              <SlpCheckmark v-if="feature.icon === 'checkmark'" class="ce-or-ee-card__icon slp-mr-8" />
              <SlpRedX v-if="feature.icon === 'red x'" class="ce-or-ee-card__icon slp-mr-8" />
              <div>{{ feature.title }}<span v-if="feature.url"><a :href="feature.url">{{ feature.title_text }}</a></span></div>
            </div>
            </li>          
          </ul>
          <SlpButton :href="data.enterprise.url" class="slp-mb-16"
            >{{ data.enterprise.url_text }}
          </SlpButton>
          <div class="ce-or-ee-card__disclaimer slp-text-xs">
            <span>
              {{ data.enterprise.disclaimer1 }}
              <a :href="data.enterprise.disclaimer1_url">{{ data.enterprise.disclaimer1_text }}</a>
              {{ data.enterprise.disclaimer1_cont }}
            </span>
          </div>
          <div class="ce-or-ee-card__disclaimer slp-text-xs">
            {{ data.enterprise.disclaimer2 }}
          </div>
        </div>

        <div class="community-edition ce-or-ee-card slp-p-24">
          <h2 class="slp-mb-16 slp-mt-16">{{ data.community.title }}</h2>
          <ul class="ce-or-ee-card__features slp-mb-8">
            <li
              v-for="feature in data.community.features"
              :key="feature.title"  
              class="ce-or-ee-card__feature slp-mb-8"
            >
              <div class="ce-or-ee-card__feature-content" >
                <SlpCheckmark v-if="feature.icon === 'checkmark'" class="ce-or-ee-card__icon slp-mr-8" />
                <SlpRedX v-if="feature.icon === 'red x'" class="ce-or-ee-card__icon slp-mr-8" />
                {{ feature.title }}
              </div>
            </li>
          </ul>
          <SlpButton :href="data.community.url" variant="outline"
            >{{ data.community.url_text }}
          </SlpButton>
          <div class="slp-text-xs">
            {{ data.community.disclaimer1 }}
          </div>
        </div>
    </SlpRow>
  </section>
</template>


<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpCheckmark from '~/static/nuxt-images/ico/checkmark.vue'
import SlpRedX from '~/static/nuxt-images/ico/red-x.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'EnterpriseFeatureList',
  components: {
    SlpButton,
    SlpCheckmark,
    SlpRedX,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.ce-or-ee-card {
  text-align: center;
  background: $color-surface-50;

  .slp-btn {
    width: 100%;
  }

  &.enterprise-edition {
    border: 1px solid $color-primary-200;
    border-top: $spacing-4 solid $color-primary-200;
    max-width: 350px;
    border-radius: $spacing-4;
    box-shadow: 0px 2px 50px rgba($color-surface-700, 0.08);
  }

  &.community-edition {
    border: 1px solid $color-surface-700;
    max-width: 360px;
    max-height: 350px;
    margin-top: 46px;
    border-radius: 0 4px 4px 0;
    border-left: 0;
  }

  &__recommended {
    color: $color-text-50;
    background: #5E5E5E;
    border-radius: $spacing-24;
    padding: $spacing-8;
    max-width: 160px;
    margin: 0 auto;
  }

  &__features {
    text-align: left;
    font-size: 16px;
  }

  &__feature svg {
    vertical-align: middle;
  }

  &__feature-content {
    display: flex;
    flex-direction: row;
    
    svg {
      margin-top: $spacing-4;
      min-width: 16px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .ce-or-ee {
    margin-top: $spacing-32;
  }

  .ce-or-ee-card {
    &.community-edition {
      border-left: 1px solid $color-surface-700;
      border-radius: $spacing-4;
      max-width: 350px;
      max-height: unset;
      margin-top: $spacing-16;
    }
  }

  h2 {
    font-size: 24px;
  }
}

</style>
