<template>
  <section class="header slp-mt-64">
    <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
      <h1 class="slp-text-4xl slp-mb-16">{{ data.title }}</h1>
      <h3 class="slp-text-lg slp-mb-48">
          <span>{{ data.subtitle }}
            <a :href="data.subtitle_url">{{ data.subtitle_text }}</a>
            {{ data.subtitle_cont }}
          </span>
        </h3>
    </SlpColumn>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'EnterpriseShipFeaturesFaster',
  components: {
    SlpColumn,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.header {
  text-align: center;

  @media (max-width: $breakpoint-md) {
    margin-top: 0;
    margin-top: $spacing-48;

    h1 {
      font-size: font-size-3xl;
    }

    h3 {
      font-size: font-size-md;
      margin-bottom: $spacing-32;
    }
  }
}

</style>
