<template>
  <div class="featured_partners full-background">
  <img class="featured_partners__decoration" src="/nuxt-images/icons/gitlab-vertical-space.svg" alt="">
  <h2>Meet our platform partners</h2>
  <div class="featured_partners__cards">
    <a v-for="partner in data.partners" :key="partner.url" class="card" :href="partner.url">
      <img :src="partner.image" :alt="partner.alt">
    </a>
  </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props:{
    data:{
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style lang="scss" scoped>
.full-background {
  background:linear-gradient(to bottom, transparent 75%, $color-surface-100 25%); ;
  margin: 0 calc(50% - 50vw);
  box-sizing: border-box;
  padding: $spacing-24 calc(50vw - 50%) $spacing-32 calc(50vw - 50%);
}

.featured_partners{
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: $spacing-24;
    line-height: 36px;
  }
  &__decoration{
    height: 61px;
    margin-bottom: $spacing-24;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(6, 145px);
    column-gap: 30px;
    align-self: center;
    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(2, 145px);
      row-gap: $spacing-16;
    }
  }
}

.card {
  box-shadow: 0px 2px 50px rgba($color-surface-700, 0.08);
  border: 1px solid $color-surface-200;
  border-radius: 4px;
  background: white;
  padding: $spacing-24;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 93px;
    max-height: 78px;
    object-fit: scale-down;
  }
}

</style>