<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="(component, index) in topics.components"
      :key="component.name + `-${index}`"
      :data="component.data"
    ></component>
    <FreeTrialCTA variant='image' type='pricing' />
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import CallToAction from '~/components/cta.vue'
import TopicsCta from '~/components/topics/cta.vue'
import SlpContainer from '~/components/container.vue'
import SlpRow from '~/components/row.vue'
import SlpColumn from '~/components/column.vue'
import SlpTable from '~/components/table.vue'
import CopyCard from '~/components/company/copy-card.vue'
import CopyMedia from '~/components/copy-media.vue'
import Copy from '~/components/copy.vue'
import CopyResources from '~/components/copy-resources.vue'
import CopyMediaCard from '~/components/company/copy-media-card.vue'
import TopicsCards from '~/components/topics/topics-cards.vue'
import BenefitsIcons from '~/components/topics/benefits-icons.vue'
import SlpBlockquote from '~/components/blockquote.vue'
import FeaturedMedia from '~/components/featured-media.vue'
import TopicsHeader from '~/components/topics/header.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    SlpBlockquote,
    SlpContainer,
    SlpRow,
    SlpColumn,
    BenefitsIcons,
    TopicsHeader,
    FeaturedMedia,
    SlpTable,
    FreeTrialCTA
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const topics = await $content(
        `topics/${params.topics ? params.topics : 'index'}`
      ).fetch()
      return { topics }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).topics)
  },
  beforeMount() {
    init({
      once: true,
    })
  },
})
</script>

<style scoped lang='scss'>
</style>
