<template>
  <SlpRow class="slp-flex slp-flex-column slp-align-items-center">
    <SlpColumn :cols="data.column_size || 12">
      <section class="container">
        <h2 class="container__title">
          <span class="container__title-image"></span>{{ data.title }}
        </h2>

        <h3 v-if="data.subtitle" class="container__subtitle">
          {{ data.subtitle }}
        </h3>

        <div class="container__text" v-html="$md.render(data.text)"></div>

        <div class="container__cta">
          <SlpButton
            v-if="data.cta_one"
            class="slp-mr-8"
            variant="secondary"
            :href="data.cta_one.link"
            :data-ga-name="data.cta_one.data_ga_name"
            :data-ga-location="data.cta_one.data_ga_location"
            >{{ data.cta_one.text }}</SlpButton
          >
          <SlpButton
            v-if="data.cta_two"
            variant="secondary"
            :href="data.cta_two.link"
            :data-ga-name="data.cta_two.data_ga_name"
            :data-ga-location="data.cta_two.data_ga_location"
            >{{ data.cta_two.text }}</SlpButton
          >
        </div>
      </section>
    </SlpColumn>
    <SlpHorizontalRule />
  </SlpRow>
</template>
<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'
import SlpRow from '~/components/row.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'TopicsCta',
  components: {
    SlpButton,
    SlpHorizontalRule,
    SlpRow,
    SlpColumn,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.container {
  margin: $spacing-64 0;

  &__title {
    margin-bottom: $spacing-32;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    &-image {
      position: relative;
      display: inline;
    }
  }

  &__subtitle {
    margin-bottom: $spacing-16;
    font-size: 19px;
    font-weight: 600;
  }

  &__text {
    margin-bottom: $spacing-24;
    font-size: 16px;
    line-height: 28px;
  }

  @media (max-width: $breakpoint-sm) {
    &__cta ::v-deep a {
      width: 100%;

      &:nth-of-type(2) {
        margin-top: $spacing-8;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 19px;
      line-height: 24px;
    }
  }


}
</style>
