<template>
  <SlpContainer class="container__company">
    <SlpColumn :cols="10">
      <component
        :is="component.name"
        v-for="component in company.components"
        :key="component.name"
        :data="component.data"
      ></component>
    </SlpColumn>
    <SlpRow>
      <SlpColumn>
        <FreeTrialCTA variant="image" type="pricing" />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import SlpContainer from '~/components/container.vue'
import SlpRow from '~/components/row.vue'
import CallToAction from '~/components/cta.vue'
import TabsMenu from '~/components/tabs-menu.vue'
import Copy from '~/components/copy.vue'
import CopyMedia from '~/components/copy-media.vue'
import { getPageMetadata } from '~/common/meta'
import SlpColumn from '~/components/column.vue'
import CopyCard from '~/components/company/copy-card.vue'
import DataCard from '~/components/company/data-card.vue'
import CopyMediaCard from '~/components/company/copy-media-card.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'
import Markdown from '~/components/company/markdown.vue'
import CompanyCards from '~/components/company/cards.vue'

export default Vue.extend({
  name: 'Company',
  components: {
    SlpColumn,
    SlpRow,
    TabsMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia,
    CopyCard,
    DataCard,
    CopyMediaCard,
    FreeTrialCTA,
    Markdown,
    CompanyCards,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const company = await $content(
        `company/${params.company ? params.company : 'index'}`
      ).fetch()

      return { company }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).company)
  },
  beforeMount() {
    init({
      once: true,
    })
  },
})
</script>

<style lang="scss" scoped>
.container__company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
