<template>
  <svg width="9" height="6" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-left: 8px;">
    <path
      d="M6.685.683L9 3 6.685 5.317a.624.624 0 11-.883-.884l.808-.808H.624a.625.625 0 010-1.25H6.61l-.808-.808a.625.625 0 01.883-.884z"
      fill="#7d2bd9"
    />
  </svg>
</template>

<script>
export default {
  name: 'SlpArrowRight',
};
</script>
