<template>
  <div class="hero">
    <div class="hero__text">
      <p v-if="data.overline_text">{{ data.overline_text }}</p>
      <h1>{{ data.big_text }}</h1>
      <p>{{ data.subcopy }}</p>
    </div>
    <div class="hero__image">
      <img :src="data.image" :alt="data.image_alt_text" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'TenHero',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
.hero {
  color: #404040;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 64px auto;
  max-width: 100%;

  @media (min-width: $breakpoint-lg) {
    margin-bottom: 132px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1140px;
  }
}

.hero__text {
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $breakpoint-lg) {
    grid-column-end: 6;
  }

  p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-lg) {
      font-size: 24px;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-lg) {
      font-size: 100px;
      margin-bottom: 32px;
    }
  }

  a {
    margin-bottom: 24px;
  }
}

.hero__image {
  grid-column-start: 1;
  grid-column-end: -1;

  img {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: $breakpoint-md) {
    align-items: flex-start;
    display: flex;
    grid-column-start: 6;
    grid-column-end: 11;
    justify-content: center;
    width: 100%;
  }
}
</style>
