<template>
  <svg
    class="slp-fill-current"
    width="22"
    height="22"
    fill="#9B51E0"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.211 19.263a35.323 35.323 0 01-8.905-1.122A3.08 3.08 0 010 15.154V6.82a3.08 3.08 0 012.297-2.983.88.88 0 11.44 1.698A1.32 1.32 0 001.76 6.82v8.333a1.32 1.32 0 00.99 1.285 32.384 32.384 0 0016.425.066l.084-.026a1.32 1.32 0 00.981-1.285v-8.36a1.32 1.32 0 00-.981-1.285 32.53 32.53 0 00-13.68-.603.89.89 0 11-.299-1.755 34.183 34.183 0 0114.423.633A3.08 3.08 0 0122 6.811v8.382a3.08 3.08 0 01-2.297 2.988c-1.263.488-4.453.88-5.108.946-.955.07-2.103.136-3.384.136z"
    />
    <path
      d="M8.99 15.677a.88.88 0 01-.88-.88v-7.59a.88.88 0 011.372-.73l5.645 3.797a.88.88 0 010 1.46l-5.645 3.793a.88.88 0 01-.493.15zm.88-6.816v4.286L13.06 11 9.87 8.86z"
    />
  </svg>
</template>

<script>
export default {
  name: 'SlpVideoIcon',
}
</script>
