<template>
  <div class="youtubeEmbed">
    <iframe
      :id="`iframe-for-${videoId}`"
      :src="`https://www.youtube-nocookie.com/embed/${videoId}?enablejsapi=1`"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      :title="`YouTube embedded video for https://www.youtube-nocookie.com/embed/${videoId}`"
    ></iframe>
  </div>
</template>

<script>
/**
 * The YouTube embed component uses the [@tailwindcss/aspect-ratio package](https://github.com/tailwindlabs/tailwindcss-aspect-ratio)
 * to enable composable aspect ratios for each embedded video. The default aspect ratio is 16:9.
 *
 * Tailwind plans to [deprecate this package when aspect-ratio is supported in modern browsers](https://github.com/tailwindlabs/tailwindcss-aspect-ratio#usage).
 * The nice thing about using this plugin for now is we should receive warnings from yarn when Tailwind is deprecating the plugin, and when we can
 * use Tailwind aspect ratio utility classes natively.
 *
 * Since the plugin uses the [padding-bottom trick](https://css-tricks.com/aspect-ratio-boxes/), it requires a container around the `iframe` element.
 * We can probably remove that when `aspect-ratio` lands and the plugin gets deprecated.
 */
export default {
  name: 'SlpYoutubeEmbed',
  props: {
    videoId: {
      type: String,
      required: true,
      default: '-JUtVOAaQcE',
    },
    aspectWidth: {
      type: String,
      required: true,
      default: '16',
    },
    aspectHeight: {
      type: String,
      required: true,
      default: '9',
    },
  },
}
</script>

<style lang="scss" scoped>
.youtubeEmbed {
  position: relative;
  padding-bottom: calc(100% / (16 / 9));
  overflow: hidden;
  width: 100%;

  iframe {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
</style>
