<template>
  <SlpContainer class="startups">
    <mrkto-form :data="doc.mrkto_form" @submit="onSubmit" />
    <SlpRow class="faq">
        <SlpColumn :cols="12" size="xxl">
            <h2 class="header">Frequently Asked Questions</h2>
            <div class="accordion-container slp-mb-48">
                <Accordion v-for="question in doc.frequently_asked_questions.data" :key="question.item.question">
                    <template #title>
                        <h3>{{ question.item.question}}</h3>
                    </template>
                    <template #content>
                        <div v-html="$md.render(question.item.answer)"></div>
                    </template>
                </Accordion>
            </div>
        </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import { getPageMetadata } from '~/common/meta'
import MrktoForm from '~/components/form.vue';
import SlpContainer from '~/components/container.vue'
import Accordion from '~/components/accordion.vue'
import SlpRow from '~/components/row.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  components: {
    Accordion,
    MrktoForm,
    SlpContainer,
    SlpRow,
    SlpColumn,
  },
  async asyncData({ $content, error }: any) {
    try {
      const doc = await $content('solutions/startups').fetch()
      return { doc }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  data(){
    return {
      submitted: false
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc)
  },
  beforeMount() {
    init({
      once: true
    })
  },
  methods:{
    onSubmit(){
      (this as any).submitted = true;
    }
  }
})
</script>


<style lang="scss">
.startups {
    .content {
        h3:first-of-type {
            margin-bottom: $spacing-48;
        }

        h3 {
            line-height: 28px;
        }

        ul {
            margin-top: $spacing-32;
            margin-bottom: $spacing-48;
        }

        p {
            font-size: 16px !important; // overrides form component styles
            line-height: 24px;
            margin-top: $spacing-4;
        }
    }

    .mktoForm .mktoGutter {
        float: none;
    }

    .mktoForm .mktoRadioList > label {
        margin-left: $spacing-8;
        margin-right: $spacing-16;
    }

    .faq .header {
        text-align: center;
        margin-bottom: $spacing-32;
    }

    .faq .slp-col-xxl-12 {
      width: 100%;
    }

}
</style>

