<template>
  <section class="customer-highlights">
    <div v-if="data.highlighted_customer" class="main-highlight" >
      <img class="highlight__logo" :src="data.highlighted_customer.logo" />
      <img
        class="main-highlight__image"
        :src="data.highlighted_customer.image.image_url"
        :alt="data.highlighted_customer.image.alt"
      />
      <a class="highlight__link"
         :href="data.highlighted_customer.url"
         :data-ga-name="data.highlighted_customer.data_ga_name"
         :data-ga-location="data.highlighted_customer.data_ga_location"
         target="_blank">
        <div v-if="data.highlighted_customer.pull_quote" class="main-highlight__quote_card">
          <pull-quote
            :data="data.highlighted_customer.pull_quote"
          />
        </div>
        <div v-else class="main-highlight__card"> 
          <h4 class="slp-mb-16" :class="{'font_lg__impact': data.font_variant === 'lg'}">
            <span class="highlight__bold">{{
              data.highlighted_customer.name
            }}</span>
            {{ data.highlighted_customer.impact }}
          </h4>
          <ul>
            <li
              v-for="stat in data.highlighted_customer.stats"
              :key="stat.qualifier"
              class="slp-flex slp-align-items-center slp-mb-8"
              
            >
              <img :src="stat.icon" />
              <p class="slp-ml-16" :class="{'font_lg__qualifiers': data.font_variant === 'lg'}">
                <span class="highlight__bold">{{ stat.quantifier }}</span>
                {{ stat.qualifier }}
              </p>
            </li>
          </ul>
        </div>
      </a>

    </div>
    <SlpRow>
      <SlpColumn
        v-for="(customer, customerIndex) in data.customers"
        :key="customer.name"
        size="lg"
        class="highlight"
        :style="{marginBottom: dynamicMargins[customerIndex]}"
      > 
        <div class="shadow_overlay">

          <img class="highlight__logo" :src="customer.logo" />
        </div>
        <img
          class="highlight__image"
          :src="customer.image.image_url"
          :alt="customer.image.alt"
        />
        <a class="highlight__link"
           :href="customer.url"
           :data-ga-name="customer.data_ga_name"
           :data-ga-location="customer.data_ga_location"
           target="_blank">
          <div ref="highlights" :class="{'font_lg__impact': data.font_variant === 'lg', 'slp-text-lg': !data.font_variant}" class="highlight__card ">
            <img class="highlight__icon" :src="customer.icon" />
            <h4 class="slp-mb-8">
              <span class="highlight__bold">{{ customer.name }}</span>
              {{ customer.impact }}
            </h4>
            <ul class="slp-flex highlight__stats">
              <li
                v-for="stat in customer.stats"
                :key="stat.qualifier"
                :class="{'font_lg__impact': data.font_variant === 'lg'}"
                class="slp-flex slp-align-items-center slp-mt-8"
              >
                <p>
                  <span class="highlight__bold">{{ stat.quantifier }}</span>
                  {{ stat.qualifier }}
                </p>
              </li>
            </ul>
          </div>
        </a>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import PullQuote from '~/components/pull-quote.vue'
export default Vue.extend({
  name: 'EnterpriseHighlights',
  components: {
    SlpColumn,
    SlpRow,
    PullQuote
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data(){
    return{
      dynamicMargins: []
    }
  },
  mounted(){
    this.calcuateMargins();
    window.addEventListener("resize", this.calcuateMargins);
  },
  destroyed() {
    window.removeEventListener("resize", this.calcuateMargins);
  },  

  methods: {
    // This method is calculating the margin needed for the bottom of the cards as there is an absolutely positioned element that can have different height depending on the content.
    calcuateMargins(): void{
      this.dynamicMargins = (this as any).$refs.highlights?.map((highlight: any) => {
        const offsetTop = 100;
        if(window.innerWidth <= 1024){
          return `${highlight.offsetHeight - offsetTop + 76}px`
        }
        return `${highlight.offsetHeight - offsetTop}px`
      })
    }
  }
})
</script>

<style lang="scss" scoped>

.shadow_overlay {
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 8px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 99.98%, rgba(255, 255, 255, 0.04) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.customer-highlights {
  position: relative;
  z-index: 1;
  max-width: 1170px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;


}

.font_lg{
  &__impact{
    h4{
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__qualifiers {
    font-size: 19px;
    line-height: 24px;
  }
}

.main-highlight {
  position: relative;

  &__image {
    width: 100%;
    border-radius: 8px;

    @media (max-width: $breakpoint-lg) {
      border-radius: 0;
    }
  }

  @media (max-width: $breakpoint-lg) {
    margin-bottom: 17rem;
  }

  &__card {
    background-color: $color-surface-50;
    padding: $spacing-64;
    position: absolute;
    top: 100px;
    right: 100px;
    max-width: 50%;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    }

    @media (max-width: $breakpoint-lg) {
      max-width: 90%;
      left: 10%;
      top: initial;
      bottom: -60px;
      padding: $spacing-32 $spacing-16 $spacing-16 $spacing-16;
    }

    @media (max-width: $breakpoint-md) {
      max-width: 90%;
      bottom: -180px;
      left: 5%;
      right: 0;

      h4 {
        font-size: 19px;
      }
    }
  }

    &__quote_card {
    position: absolute;
    top: 100px;
    right: 32px;
    max-width: 693px;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    }

    @media (max-width: $breakpoint-lg) {
      max-width: 90%;
      left: 5%;
      top: 70%;
      right: unset;
    }

    @media (max-width: $breakpoint-sm) {
      max-width: 100%;
      left: unset;
      margin-left: $spacing-16;
      margin-right: $spacing-16;
    }
  }
}

.highlight {
  position: relative;
  margin-left: $spacing-4;
  width: 100%;

  @media (max-width: $breakpoint-lg) {
    margin-left: 0;
  }

  &:first-child {
    margin-right: $spacing-4;
    margin-left: 0;

    @media (max-width: $breakpoint-lg) {
      margin-right: 0;
    }
  }

  &__bold {
    font-weight: 600;
  }

  &__image {
    width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
    @media (max-width: $breakpoint-md) {
      border-radius: 0;
    }
  }

  &__link {
    color: $color-text-300;
  }

  &__logo {
    position: absolute;
    max-width: 200px;
    top: 35px;
    left: 35px;

    @media (max-width: $breakpoint-md) {
      max-width: 100px;
      z-index: 1;
    }
  }

  &__icon {
    position: absolute;
    top: -$spacing-16;
    left: $spacing-16;
  }

  &__link {
    color: $color-text-300;
  }

  &__stats {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      width: 50%;
      padding-right: 32px;
    }
  }

  &__card {
    background-color: $color-surface-50;
    padding: $spacing-32;
    position: absolute;
    max-width: 90%;
    top: 280px;
    min-height: 200px;
    left: 5%;
    border-radius: 4px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);

    &:hover {
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    }

    @media (max-width: $breakpoint-lg) {
      font-size: 19px;
      top: 80%;
      width: 100%;
    }

    @media (max-width: $breakpoint-md) {
      h4 {
        font-size: 19px;
      }
    }

    @media (max-width: $breakpoint-sm) {
      left: unset;
      margin-left: $spacing-16;
      margin-right: $spacing-16;
    }
  }
}
</style>
