<template>
  <section class="feature-list slp-my-64">
    <SlpRow class="slp-mb-24">
      <SlpColumn class="feature-list-header" :cols="8">
        <img :src="data.icon" />
        <h2 class="slp-mb-8 ">{{ data.title }}</h2>
        <p class="slp-mb-24 ">{{ data.subtitle }}</p>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-justify-content-center">
      <SlpColumn
        v-for="feature in data.features"
        :key="feature.title"
        class="feature"
        :cols="5"
      >
        <a class="feature__link"
           :href="feature.url"
           :data-ga-name="feature.data_ga_name"
           :data-ga-location="feature.data_ga_location"
           target="_blank">
          <div :class="{'inner_icon': data.inner_icon}">
            <img class="feature__icon" :src="feature.icon" />
            <h3 class="feature__title slp-text-base-bold">{{ feature.title }}</h3>
          </div>
          <p class="feature__description slp-text-base slp-my-16">{{ feature.description }}</p>
          <ul
            v-for="subfeature in feature.subfeatures"
            :key="subfeature.title"
            class="feature__subfeatures"
            :class="{'remove-bullet-points': feature.remove_bullet_points}"
          >
            <li class="feature__subfeature slp-text-base slp-my-16" >
              <a v-if="subfeature.url" :href="subfeature.url" :data-ga-location="subfeature.data_ga_location" :data-ga-name="subfeature.data_ga_name" class="link">
                {{ subfeature.title }} →
              </a>
              <span v-else>{{subfeature.title}}</span>
            </li>
          </ul>
          <p v-if="feature.url" class="feature__textlink slp-py-16 slp-text-sm-bold">Learn more →</p>
        </a>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'EnterpriseFeatureList',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.feature-list {
  position: relative;
  z-index: 1;
}

.feature-list-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-size: 45px;
    line-height: 52px;
  }

  @media (max-width: $breakpoint-md) {
    h2 {
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 19px;
      line-height: 24px;
    }
  }
}

.link{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  &:hover{
    color: #7225BA;
  }
} 

.feature {
  padding: $spacing-32;
  margin: $spacing-16;
  background-color: $color-surface-50;
  border-radius: 4px;
  border: 1px solid #F2F2F2;

  position: relative;

  &:hover {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
  }

  & .inner_icon{
    display: flex;
    align-items: center;
    img {
      position: static;
      margin-right: $spacing-16;
    }
    p {
      font-size: 23px;
      line-height: 28px;
      font-weight: 400;
    }

  }

  &__icon {
    position: absolute;
    top: -$spacing-16;
  }

  &__link {
    color: $color-text-300;
  }

  &__description {
    margin-bottom: $spacing-16;
  }

  &__subfeatures {
    list-style: disc;
    margin-left: $spacing-16;
    &.remove-bullet-points{
      list-style: none;
      margin-left: 0;
    }
  }

  &__textlink {
    color: $color-secondary-200;
  }

  &__subfeature {
    margin-top: $spacing-8;
  }

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-24 $spacing-16 $spacing-16 $spacing-16;
    margin: $spacing-16 0;
    box-shadow: 0px 4px 8px rgba(195, 195, 195, 0.25);
  }
}
</style>
