<template>
  <section class="faster">
    <SlpRow>
      <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
        <img
          src="https://about.gitlab.com/images/enterprise/tier_3_confetti.svg"
        />
        <h2 class="slp-mb-4 slp-text-4xl">{{ data.title }}</h2>
        <p class="faster__subtitle slp-mb-16 slp-text-lg">{{ data.subtitle }}</p>
        <img
          class="faster__image slp-mb-32"
          :src="data.image.image_url"
          :alt="data.image.alt"
        />
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn
        v-for="content in data.content"
        :key="content.alt"
        class="faster__content"
      >
        <img :src="content.icon" />
        <h3 class="slp-mb-8 slp-text-lg">{{ content.title }}</h3>
        <p class="slp-text-base">{{ content.description }}</p>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'EnterpriseShipFeaturesFaster',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.faster {
  margin-top: 128px;

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-48;

    h2 {
      font-size: 24px;
      line-height: 30px;
    }

    &__subtitle, 
    &__content h3  {
      font-size: 19px;
      line-height: 24px;
    }
  }
}

.faster__image {
  max-width: 100%;
  width: 512px;
}

.faster__content {
  text-align: center;
  margin-top: $spacing-16;
}

.faster__subtitle {
  text-align: center;
}
</style>
