<template>
  <SlpContainer>
    <component
      :is='component.name'
      v-for='component in doc.components'
      :key='component.name'
      :data='component.data'
    ></component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import SlpContainer from '~/components/container.vue'
import CallToAction from '~/components/cta.vue'
import FeaturedMedia from '~/components/featured-media.vue'
import CopyMedia from '~/components/copy-media.vue'
import Copy from '~/components/copy.vue'
import SdlRelatedCard from '~/components/stages-devops-lifecycle/related-card.vue'
import SdlCta from '~/components/stages-devops-lifecycle/sdl-cta.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    SdlCta,
    SdlRelatedCard,
    Copy,
    CopyMedia,
    FeaturedMedia,
    SlpContainer,
    CallToAction
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const doc = await $content(`stages-devops-lifecycle/${params.slug ? params.slug : 'index'}`).fetch()
      return { doc }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc)
  },
  beforeMount() {
    init({
      once: true
    })
  }
})
</script>
