<template>
  <SlpContainer>
    <component
      :is='component.name'
      v-for='component in education.components'
      :key='component.name'
      :data='component.data'
    ></component>
    <FreeTrialCTA variant='image' type='pricing' />
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import SolutionsCallToAction from '~/components/cta.vue'
import SlpContainer from '~/components/container.vue'
import CopyMedia from '~/components/copy-media.vue'
import SolutionsCarouselVideos from '~/components/solutions/carousel-videos.vue'
import CaseStudies from '~/components/solutions/case-studies.vue'
import ImageCard from '~/components/solutions/image-card.vue'
import SlpTable from '~/components/table.vue'
import Copy from '~/components/copy.vue'
import LinkCards from '~/components/link-cards.vue'
import TabsMenu from '~/components/tabs-menu.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'
import EducationPricing from '~/components/solutions/education/education-pricing.vue'
import EduSurveyCopyMedia from '~/components/solutions/education/edu-survey-copy-media.vue'
import FeaturedMedia from '~/components/featured-media.vue'
import PullQuote from '~/components/pull-quote.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    EducationPricing,
    FreeTrialCTA,
    PullQuote,
    FeaturedMedia,
    EduSurveyCopyMedia,
    TabsMenu,
    LinkCards,
    Copy,
    ImageCard,
    CaseStudies,
    SolutionsCallToAction,
    SlpContainer,
    CopyMedia,
    SolutionsCarouselVideos,
    SlpTable
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const education = await $content(`solutions/education/${params.education ? params.education : 'index'}`).fetch()
      return { education }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).education)
  },
  beforeMount() {
    init({
      once: true
    })
  }
})
</script>

<style scoped lang='scss'>

</style>
