<template>
  <section class='slp-mb-96' :class="{'full-background': data.full_background}" :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration'>
    <slp-row class='slp-pt-32'>
      <slp-column class='slp-flex slp-flex-column slp-align-items-center'>
        <img v-if='data.header_image' class='slp-mb-8' :src='data.header_image.url' :alt='data.header_image_alt'/>
        <h2 v-if='data.header' class="header">{{data.header}}</h2>
        <h3 v-if='data.subtitle' class='subtitle'>{{data.subtitle}}</h3>
        <p v-if="data.description" class="description" v-html="$md.render(data.description)"></p>
      </slp-column>
    </slp-row>
    <slp-row :class='{grid: data.cards_per_row}'
             :style="{'grid-template-columns': `repeat(${data.cards_per_row}, 1fr`}">
      <a v-for='benefit in data.benefits'
         :key='benefit.title'
         class='benefit-link-card'
         :class="{'benefit-link-card--no-clickable': !benefit.link}"
         :data-ga-name='benefit.link ? benefit.link.data_ga_name: null'
         :data-ga-location='benefit.link ? benefit.link.data_ga_location: null'
         :href='benefit.link ? benefit.link.url: null'>
        <slp-column class='card slp-card' :class='data.text_align'>
          <img class='icon' :src='benefit.icon' />
          <h4 class='title'>{{ benefit.title }}</h4>
          <div v-if='benefit.description' class='description' v-html='$md.render(benefit.description)'></div>
          <iframe
            v-if='benefit.video'
            :src='benefit.video.video_url'
            title='YouTube video player'
            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
            allowfullscreen
          />
          <a v-if='benefit.link' class='card__link' :href='benefit.link.url' :data-ga-name='benefit.link.data_ga_name' :data-ga-location='benefit.link.data_ga_location'>{{ benefit.link.text }} →</a>
        </slp-column>
      </a>
    </slp-row>
  </section>
</template>

<script>
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default {
  components: {
    SlpColumn,
    SlpRow
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
}
</script>

<style lang='scss' scoped>
$video-height: 315px;

section {
  position: relative;
}

.benefit-link-card{
  text-decoration: none;
  color: inherit;
}

.full-background {
  background-color: $color-surface-100;
  margin: 0 calc(50% - 50vw) $spacing-48 calc(50% - 50vw);
  box-sizing: border-box;
  padding: 0 calc(50vw - 50%) $spacing-48 ;
}

.header {
  text-align: center;
  margin: 1rem auto 1rem auto;
  line-height: 36px;

  @media (min-width: $breakpoint-lg) {
    width: 60%;
  }
}

.description {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: $spacing-32;

  &::v-deep ul {
    list-style: unset;
    padding-left: 1rem;
    margin-top: $spacing-16;

    @media (min-width: $breakpoint-sm) {
      padding: revert;
    }
  }
}

.subtitle {
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    width: 66%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: $spacing-32;
  margin-right: $spacing-32;
  height: 100%;
  width: 100%;

  &__link {
    margin-top: auto;
    text-decoration-color: rgb(155, 81, 224);
    color: #9B51E0;
    font-size: 16px;

    &:hover{
      text-decoration: underline;
    }
  }

  .title {
    font-size: 23px;
    line-height: 20px;
    margin-bottom: $spacing-16;
  }

  .icon {
    max-height: 35px;
    max-width: 48px;
    position: absolute;
    top: -1rem;
  }

  iframe {
    height: calc(#{$video-height} / 2);
    width: 100%;

    @media (min-width: $breakpoint-sm) {
      height: $video-height;
    }
  }

  &.left {
    text-align: left;
  }
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  margin: $spacing-48 auto 0 auto;
  max-width: 100%;
  @media (max-width: $breakpoint-lg) {
    // using important as the grid template columns property is being set as an inline style in the template above
    // in order to support card number per row config through the yml file.
    grid-template-columns: 1fr !important;
  }
}
</style>
