<template>
  <SlpRow  class="slp-flex slp-flex-column slp-align-items-center slp-pb-64 slp-pt-32" :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration'>
    <SlpColumn :cols="data.column_size || 12">
      <div class="container">
        <blockquote class="container__block">
          <div
            v-if="data.text"
            class="container__block-text"
            v-html="$md.render(data.text)"
          ></div>
        </blockquote>
      </div>
    </SlpColumn>
  </SlpRow>
</template>
<script>
import Vue from 'vue'
import SlpRow from '~/components/row.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'SlpBlockquote',
  components: {
      SlpRow,
      SlpColumn
  },
  props: {
    data: {
      type: Object,
      default: null,
    },
  },
})
</script>
<style lang="scss" scoped>
.container {
  position: relative;
  z-index: 5;

      &::after {
      content: "";
      position: absolute;
      background: #f2f2f2;
      border-radius: 4px;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: $spacing-24;
      right: -24px;
    }

    @media (max-width: $breakpoint-md) {
        &::after {
          right: -8px;
          top: $spacing-8;
        }
    }
  
  &__block {
    background: $color-surface-50;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: $spacing-24;
  }

  &__block-text {
    font-size: 23px;
    line-height: 38px;
  }
}
</style>
