<template>
  <section class="container">
    <div v-if="data.header">
      <h2 class="header">{{ data.header }}</h2>
    </div>
    <div class="cards_container">
      <a
        v-for="blog in data.cards"
        :key="blog.title"
        class="anchor"
        :href="blog.blog_url"
      >
        <Card class="blog_card">
          <img
            :src="blog.image_url || '/nuxt-images/blogimages/blogdefault.png'"
            :alt="blog.image_url? `${blog.title} image`:'default blog image'"
            class="display_image"
          />
          <div class="blog_card__content">
            <div class="category">
              <img src="/nuxt-images/icons/blog.svg" alt="" />
              <p>{{ blog.category }}</p>
            </div>
            <p class="title">
              {{ blog.title }}
            </p>
            <div class="author">
              <img
                class="portrait"
                :src="
                  blog.portrait_url ||
                  '/nuxt-images/blogimages/author_default.png'
                "
                :alt="`${blog.author_name} portrait`"
              />
              <span>{{ blog.author_name }}</span>
            </div>
          </div>
        </Card>
      </a>
    </div>
    <div v-if="data.more" class="read_more">
      <p>{{ data.more.title }}</p>
      <slp-button
        :href="data.more.button_url"
        :data-ga-name="data.more.data_ga_name"
        :data-ga-location="data.more.data_ga_location"
        >{{ data.more.button_text }}</slp-button
      >
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import Card from '~/components/card-wrapper.vue'
export default Vue.extend({
  components: {
    Card,
    SlpButton,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>

.anchor {
  margin: 0 15px;
}

.header {
    font-size: 36px;
    line-height:44px;
  @media (min-width: $breakpoint-lg){

    font-size: 45px;
    line-height: 52px;
  }
  margin-bottom: $spacing-32;
  text-align: center;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.read_more {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 132px;
  text-align: center;
  align-items: center;
  p {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: $spacing-32;
  }
}

.cards_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
}

.blog_card {
  max-width: 350px;
  width: 350px;
  color: #333;
  margin-bottom: $spacing-16;
  &__content {
    padding: $spacing-16 $spacing-24 $spacing-32 $spacing-24;
  }

  .title {
    margin-bottom: $spacing-48;
  }

  .category {
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $spacing-32;
    p {
      margin-left: 10px;
    }
  }

  .author {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    span {
      margin-left: $spacing-8;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .portrait {
    max-height: 48px;
    object-fit: scale-down;
    border-radius: 24px;
  }
}
</style>