<template>
  <div v-if="variant === 'grey-100'" class="slp-full-grey-background">
    <div class="slp-container" :class="className">
      <slot></slot>
    </div>
  </div>
  <div v-else-if="variant === 'grey-50'" class="slp-half-grey-background">
    <div class="slp-container" :class="className">
      <slot></slot>
    </div>
  </div>
  <div v-else class="slp-container" :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpContainer',
  props: {
    fluid: {
      type: Boolean,
      required: false,
      default: false,
    },
    variant: {
      type: String,
      required: false,
      default: 'white',
    },
  },
  computed: {
    className(this: any): string {
      return this.fluid ? 'fluid' : ''
    },
  },
})
</script>

<style lang="scss" scoped>
.#{$prefix}-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-16;
  padding-right: $spacing-16;
  border: 1px solid transparent;
}

@media (min-width: 640px) {
  .#{$prefix}-container {
    max-width: 95%;
  }
}

@media (min-width: $breakpoint-lg) {
  .#{$prefix}-container {
    max-width: $breakpoint-lg;
    padding: 0px;
  }
}

@media (min-width: 1170px) {
  .#{$prefix}-container {
    max-width: 1170px;
    padding: 0px;
  }
}

.slp-full-grey-background {
  background: $color-surface-100;
}

.slp-half-grey-background {
  background-image: linear-gradient(to bottom, 
    $color-surface-50 0% 50%,
    $color-surface-100 50% 100%
  )
}
</style>
