<template>
  <div :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration'>
    <div v-for="block in data.block" :key="block.header" class="container" :class="{'slp-mb-64': block.hide_horizontal_rule}">
      <span
        v-if="block.metadata"
        :id="block.metadata.id_tag || ''"
        :data-slippers-scroll="block.metadata.id_tag || ''"
      ></span>
      <div
        class="copy"
        :class="{ 'copy__align_center header': block.align_center}"
      >
        <SlpRow class="slp-flex slp-flex-column slp-align-items-center">
          <SlpColumn :cols="block.column_size || 12">
            <h2 v-if="block.header" class="slp-mb-8 slp-mt-8">{{ block.header }}</h2>
            <h3 v-if="block.subtitle">{{ block.subtitle }}</h3>
            <div class="copy__body">
              <div v-if='block.text' class="slp-mb-32" v-html="$md.render(block.text)"></div>
              <slp-button
                v-if="block.link_href"
                :href="block.link_href"
                :data-ga-name="block.link_data_ga_name"
                :data-ga-location="block.link_data_ga_location"
              >
                {{ block.link_text }}
              </slp-button>
            </div>
          </SlpColumn>
        </SlpRow>
        <SlpHorizontalRule v-if="!block.hide_horizontal_rule" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'
import SlpRow from '~/components/row.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'Copy',
  components: {
    SlpButton,
    SlpHorizontalRule,
    SlpRow,
    SlpColumn,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.copy {
  grid-column: 1 / span 12;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / span 12;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;

    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  h4 {
    color: $color-text-300;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;

    @media (min-width: $breakpoint-lg) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  h3, &__body ::v-deep h3 {
    font-size: 23px;
    line-height: 28px;

    @media (max-width: $breakpoint-sm) {
      font-size: 19px;
      line-height: 24px;
    }
  }

  &__body {
    grid-column: 1 / -1;
    color: $color-text-300;

    &::v-deep p {
      margin-bottom: 1em;
      font-size: 16px;
    }

    &::v-deep li {
      font-size: 16px;
    }

    & ::v-deep p a {
      color: $color-secondary-200;
    }

    &::v-deep h3 {
      margin-top: $spacing-32;
      margin-bottom: $spacing-8;
    }
  }

  &__align_center {
    text-align: center;
  }
}

.header {
  color: $color-text-300;
  margin-bottom: $spacing-16;
}
</style>
