<template>
  <div>
    <div v-for="(block, index) in data.block" :key="index" class="container">
      <span
        v-if="block.metadata"
        :id="block.metadata.id_tag || ''"
        :data-slippers-scroll="block.metadata.id_tag || ''"
      ></span>
      <slp-column
        class="copy first-block"
        :class="{
          'first-block--inverted': block.inverted,
          'first-block--column': block.column,
          'first-block--inverted-column':
            block.inverted && block.column && block.column_size,
        }"
        :cols="block.column_size || 12"
      >
        <h2 v-if="block.header" class="header">
          {{ block.header }}
        </h2>
        <h3 v-if="block.subtitle">{{ block.subtitle }}</h3>
        <div class="copy__body">
          <div v-if="block.text" class="slp-mb-32" v-html="$md.render(block.text)"></div>
          <slp-button v-if="block.link_href"
                      :href="block.link_href"
                      :data-ga-name="block.link_data_ga_name"
                      :data-ga-location="block.link_data_ga_location">
            {{ block.link_text }}
          </slp-button>
          <slp-button v-if="block.secondary_link_href"
                      :href="block.secondary_link_href"
                      variant="outline"
                      :data-ga-name="block.secondary_link_data_ga_name"
                      :data-ga-location="block.secondary_link_data_ga_location">
            {{ block.secondary_link_text }}
          </slp-button>
        </div>
      </slp-column>

      <slp-column class="media second-block"
                  :class="{
                    'second-block--inverted': block.inverted,
                    'second-block--column': block.column,
                    'second-block--media': block.image || block.video,
                    'second-block--media-inverted-column': block.inverted && block.column && block.column_size,
                    'media--no-max-height': block.no_max_height
                  }"
                  :cols="block.column_size || 12">
        <iframe v-if="block.video"
                :src="block.video.video_url"
                width="560"
                height="315"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen />
        <div v-else-if="block.image"
             :class="{ centered: block.image.vertical_centered }">
          <img class="media__img--desktop"
               :src="block.image.image_url"
               :alt="block.image.alt"
               :style="{ filter: block.image.svg_filter_style }" />
          <img class="media__img--mobile"
               :src="block.image_mobile ? block.image_mobile.image_url : block.image.image_url"
               :alt="block.image_mobile ? block.image_mobile.alt : block.image.alt"
               :style="{ filter: block.image.svg_filter_style }" />
          <div v-if="block.image.caption" class="image-caption" v-html="$md.render(block.image.caption)"></div>
        </div>
        <div v-else-if="block.miscellaneous" class="copy copy__body" v-html="$md.render(block.miscellaneous)"></div>
        <slp-button v-if="block.media_link_href"
                    :href="block.media_link_href"
                    :data-ga-name="block.media_link_data_ga_name"
                    :data-ga-location="block.media_link_data_ga_location">
          {{ block.media_link_text }}
        </slp-button>
        <div class="copy__bottom_text">
          <h2 v-if="block.bottom_text">{{ block.bottom_text }}</h2>
        </div>
      </slp-column>
      <SlpHorizontalRule v-if="!block.hide_horizontal_rule" />
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'CopyMedia',
  components: {
    SlpButton,
    SlpHorizontalRule,
    SlpColumn,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
})
</script>

<style lang='scss' scoped>
a {
  margin: 1rem 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: $spacing-32;
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
  }

  hr {
    grid-column: 1 / span 12;
  }
}

.header {
  color: $color-text-300;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 36px;

  @media (max-width: $breakpoint-sm) {
    font-size: 24px;
    line-height: 30px;
  }
}

.copy {
  &::v-deep h3 {
    margin-bottom: $spacing-8;
  }

  &::v-deep img{
    width: 1.3rem;
    margin-right: 0.7rem;
    margin-bottom: -0.3rem;
  }

  &::v-deep blockquote{
    margin-left: 2rem;
  }

  h4 {
    color: $color-text-300;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;

    @media (min-width: $breakpoint-lg) {
      font-size: 23px;
    }
  }

  &__body {
    grid-column: 1 / -1;
    color: $color-text-300;

    &::v-deep p {
      margin-bottom: 1em;
      font-size: 16px;
    }

    &::v-deep li {
      font-size: 16px;
    }

    & ::v-deep p a {
      color: $color-secondary-200;
    }
  }
}

.copy__bottom_text {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-lg) {
    grid-row: 2/3;
  }
}

.media {
  &__img {
    &--mobile {
      display: block;

      @media (min-width: $breakpoint-sm) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $breakpoint-sm) {
        display: block;
      }
    }
  }

  .image-caption {
    font-style: italic;
    font-size: 14px;
  }

  &--no-max-height {
    img {
      max-height: unset !important;
    }
  }

  img {
    width: 100%;
    object-fit: scale-down;
    max-height: 20rem;

    &[src*='\.svg'] {
      object-fit: fill;
    }
  }

  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #f2f2f2;
  }
}

.first-block {
  grid-column: 1 / 12;

  &.slp-col-md-8.first-block--column {
    margin: 0 auto; // centers Topics content with embedded video
  }

  &--column {
    grid-column: 1 / 12;

    &.first-block--inverted {
      grid-row: 2;
    }
  }

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / span 6;
    padding-right: $spacing-16;
    padding-left: 0;

    &--inverted {
      grid-column: 7 / span 6;
      padding-right: 0;
      padding-left: $spacing-16;
      &-column {
        margin: 0 auto;
      }
    }

    &--column {
      grid-column: 1 / span 12;
    }
  }
}

.second-block {
  grid-column: 1 / 12;
  min-height: 200px;

  &.slp-col-md-8.second-block--column {
    margin: 0 auto $spacing-64 auto; // centers Topics content with embedded video
  }

  &--media {
    min-height: 200px;

    &-inverted-column {
      margin: 0 auto;
    }
  }

  &--column {
    grid-column: 1 / 12;

    &.second-block--inverted {
      grid-row: 1;
    }
  }

  @media (min-width: $breakpoint-lg) {
    grid-column: 7 / span 6;
    padding: 0;

    &--inverted {
      grid-column: 1 / span 6;
      padding: 0;
    }

    &--column {
      grid-column: 1 / span 12;
    }

    &--column + &--inverted {
      grid-row: 1;
    }

    &--centered {
      align-self: center;
    }
  }

  & > div {
    width: 100%;

    &.centered {
      align-self: center;
    }
  }
}
</style>
