<template>
  <div>
    
    <div v-for="(block, index) in data.block" :key="index" class='container' :class="{'no-hr-margin': data.hide_horizontal_rule}">
      <span v-if="block.metadata" :id="block.metadata.id_tag || ''"></span>
      <picture>
         <source srcset="/nuxt-images/backgrounds/gitops-header-bg-3.svg" media="(min-width: 577px)">
         <source srcset="/nuxt-images/backgrounds/gitops-header-bg-3-mobile.svg" media="(max-width: 576px)">
         <img  class="container__corner-img" src="/nuxt-images/backgrounds/gitops-header-bg-3.svg" alt="" />
      </picture>
      <div class="copy">
        <h2 class="slp-mb-16">{{data.title || 'Resources'}}</h2>
        <h3 v-if="block.subtitle">{{ block.subtitle }}</h3>
        <div class="copy__body">
          <div v-if="block.text" class="slp-mb-32" v-html="$md.render(block.text)"></div>
          <slp-button v-if="block.link_href" :href="block.link_href" :data-ga-name="block.data_ga_name" :data-ga-location="block.data_ga_location">{{ block.link_text }}</slp-button>
        </div>
        <div v-if="block.video" class="video-container">
          <video-card  :video="block.video"/>
          <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg/featured" class="more-videos">View more videos →</a>
        </div>
      </div>
      <div class='resources'>
        <SlpHorizontalRule />
        <div v-for='(resource, propertyName, resourceIndex) in block.resources' :key='propertyName' class='slp-flex slp-flex-column'>
          <div class='slp-flex'>
            <img class="resources__icon" :src='resourceIcon[propertyName]' alt=' '/>
            <h4 class='slp-text-base'><strong>{{resource.header}}</strong></h4>
          </div>
          <!-- eslint-disable vue/no-template-shadow -->
          <a v-for='(link, index) in resource.links' :key='`${propertyName}-${index}`'
             class="slp-mb-16 slp-mt-16"
             :href='link.link'
             :data-ga-name='link.data_ga_name'
             :data-ga-location='link.data_ga_location'>
            {{link.text}}
          </a>
          <!-- eslint-enable vue/no-template-shadow -->
          <SlpHorizontalRule v-if='Object.keys(block.resources).length - 1 !== resourceIndex || data.hide_horizontal_rule'/>
        </div>
      </div>
      <SlpHorizontalRule v-if="!data.hide_horizontal_rule"/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import SlpButton from './button'
import SlpHorizontalRule from './horizontal-rule'
import { RESOURCE_ICON_PATH } from '~/common/constants'
import VideoCard from '~/components/solutions/video-card.vue'


export default Vue.extend({
  name:'CopyList',
  components: {
    SlpButton,
    SlpHorizontalRule,
    VideoCard
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  computed:{
    resourceIcon() {
      return RESOURCE_ICON_PATH;
    }
  }
})
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  padding-top: 30px;

  &.no-hr-margin {
    margin-bottom: 132px;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
  }

  hr {
    margin: 30px 0;
    grid-column: 1 / span 12;
  }

  &__corner-img {
    position: absolute;
    left: -30px;
    top: -25px;

    @media (max-width: $breakpoint-sm) {
      left: 0;
    }
  }
}

.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy {
  grid-column: 1 / 12;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / 6;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;

    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  h3 {
    color: $color-text-300;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;

    @media (min-width: $breakpoint-lg) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__body {
    grid-column: 1 / 12;
    color: $color-text-300;

    &::v-deep p {
      font-size: 16px;
      margin-bottom: 1em;
    }

    &::v-deep li {
      font-size: 16px;
    }

    & ::v-deep p a {
      color: $color-secondary-200;
    }
  }
}

.resources {
  grid-column: 1 / 12;

  @media(min-width: $breakpoint-lg) {
    grid-column: 7 / span 6;
  }

  &__icon {
    max-width: 24px;
    vertical-align: middle;
    margin-right: 20px;
  }

  a {
    margin-left: 44px;
    color: $color-secondary-200;
    text-decoration: none;
    position: relative;
    font-size: 16px;

    &:after {
      content: '→';
      opacity: 0;
      transition: 0.25s;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}

.more-videos{
  font-size: 14px;
  text-align: center;
  width: 100%;
}
</style>
