<template>
  <section class="enterprise-cta slp-mb-96 slp-mt-96"
           :class="{'enterprise-cta--no-image': !data.image, 'no-margin-bottom': data.no_margin_bottom}"
           :data-aos='data.aos_animation'
           :data-aos-duration='data.aos_duration'>
    <SlpRow>
      <SlpColumn
        :cols="data.image ? 6 : 12"
        class="slp-flex slp-align-items-center"
      >
        <div class="enterprise-cta__body" :class="{'enterprise-cta__body--no-image': !data.image}">
          <div :class="{'slp-mb-32': hasButtons, 'centered': data.centered_by_default}" class='enterprise-cta__header'>
            <h1 class='enterprise-cta__title' :class="{'enterprise-cta__title-image': !data.image}">{{ data.title }}</h1>
            <h3 v-if="data.subtitle" class="enterprise-cta__subtitle">{{ data.subtitle }}</h3>
            <p v-if='data.body_text' class='slp-text-base enterprise-cta__body--text'>{{data.body_text}}</p>
          </div>
          <div v-if="hasButtons" class="slp-mb-32 enterprise-cta__buttons" :class="{'centered': data.centered_by_default}">
            <SlpButton
              v-if="data.free_trial_button"
              class="slp-mr-8"
              variant="primary"
              :data-ga-name="data.free_trial_button.data_ga_name || 'free trial'"
              :data-ga-location="data.free_trial_button.data_ga_location || 'header'"
              :href="data.free_trial_button.url || 'https://about.gitlab.com/free-trial/'"
              >{{ data.free_trial_button.text || "Get free trial" }}</SlpButton>
            <SlpButton
              v-if="data.contact_sales_button"
              variant="outline"
              :href="data.contact_sales_button.url || 'https://about.gitlab.com/sales/'"
              :data-ga-name="data.contact_sales_button.data_ga_name || 'contact sales'"
              :data-ga-location="data.contact_sales_button.data_ga_location || 'header'"
              >{{ data.contact_sales_button.text || "Contact Sales" }}</SlpButton
            >
          </div>
          <p v-if="data.tag_line" class="slp-mb-24">{{ data.tag_line }}</p>
        </div>
      </SlpColumn>
      <SlpColumn
        v-if="data.image"
        :cols="6"
        class="slp-flex slp-align-items-center slp-justify-content-center"
      >
      <a :href="data.image.image_href" >
        <img
          class="cta__image"
          :class="{ 'shadow': data.shadow }"
          :src="data.image.image_url"
          :alt="data.image.alt"
          />
      </a>
      </SlpColumn>
      <SlpHorizontalRule v-if='data.horizontal_rule' class='slp-mb-64 slp-mt-64'/>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'SolutionsCTA',
  components: {
    SlpButton,
    SlpColumn,
    SlpRow,
    SlpHorizontalRule
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed:{
    hasButtons(): boolean {
      return this.data.free_trial_button || this.data.contact_sales_button
    }
  },
})
</script>

<style lang="scss" scoped>
.enterprise-cta {
  margin-bottom: $spacing-64;
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
    margin-bottom: $spacing-96;
  }

  &.no-margin-bottom{
    margin-bottom: 0;
  }

  &__body{
    &--no-image {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &--text{
      margin: 0 auto;
      @media (min-width: $breakpoint-md) {
        width: 65%;
        margin-top: 10px;
      }
    }
  }

  &__header {
    text-align: center;

    @media (min-width: $breakpoint-md) {
      &:not(.centered) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 36px;
    line-height: 44px;

    @media (min-width: $breakpoint-sm) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  &__subtitle {
    font-size: 19px;
    margin-top: $spacing-16;

    @media (min-width: $breakpoint-md){
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    &.centered {
      justify-content: center;
    }

    a {
      width: 100%;
      margin-bottom: $spacing-8;

      @media (min-width: $breakpoint-md) {
        width: inherit;
        margin-bottom: inherit;
      }
    }

    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
  }

  &__title-image {
    position: relative;
    display: inline;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -12px;
    }

    &:after {
      background-image: url('/nuxt-images/backgrounds/right-heading-bg.svg');
      right: -45px;
    }

    &:before {
      background-image: url('/nuxt-images/backgrounds/left-heading-bg.svg');
      left: -45px;
    }
  }
}

.cta__company-icon {
  height: 19px;
}

.cta__image {
  max-height: 362px;
  max-width: 100%;
  border: 1px #F2F2F2 solid;
  border-radius: 6px;
  &.shadow{
    box-shadow: 15px 15px 0 #f2f2f2;
    margin: 0 auto;
    max-width: 95%;
  }
}
</style>
