<template>
  <SlpContainer class="slp-mb-64">
    <div role="alert" class="slpAlert"> 
      <h3 v-if="data.title" class="slp-mb-4">{{ data.title }}</h3>
      <div v-html="$md.render(data.text)"></div>
    </div>
  </SlpContainer>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'

export default Vue.extend({
  name: 'SlpDisclaimer',
  components: {
    SlpContainer,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.slpAlert {
  background-color: $color-secondary-100;
  font-size: 12px;
  font-style: italic;
  padding: $spacing-16;
}

</style>