<template>
  <section :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration' data-aos-once='true' data-aos-easing='ease-in'>
    <slp-row >
      <slp-column>
        <img v-if="data.icon" class="header-icon" :src="data.icon" />
        <h2 v-if='data.header' class="header" :class="{'has-icon': data.icon}">{{data.header}}</h2>
        <p v-if="data.description" class="description subtitle" v-html="$md.render(data.description)"></p>
      </slp-column>
    </slp-row>
    <slp-row class="event_container">
      <slp-column v-for='event in data.events' :key='event.title' class="event" :class='data.text_align'>
      <SlpEventCard
        class="event-card"
        :heading="event.heading"
        :icon="event.icon"
        :date="event.date"
        :event-type="event.event_type"
        :destination-url="event.destination_url"
      />
      </slp-column>
    </slp-row>
    <SlpHorizontalRule v-if="!data.hide_horizontal_rule" />
  </section>
</template>

<script>
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpEventCard from '~/components/ten/event-card.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default {
  components: {
    SlpColumn,
    SlpRow,
    SlpEventCard,
    SlpHorizontalRule
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
}
</script>

<style lang='scss' scoped>

$video-height: 315px;

section {
  position: relative;
}

.full-background {
  background-color: #f8f8f8;
  margin: 0 calc(50% - 50vw) $spacing-48 calc(50% - 50vw);
  box-sizing: border-box;
  padding: 0 calc(50vw - 50%) $spacing-48 ;
}

.header-icon {
  margin: $spacing-96 auto 1rem auto;
  max-height: 100px;
  width: 100%;
}

.header {
  text-align: center;
  margin: $spacing-96 auto 1rem auto;
  line-height: 36px;
  &.has-icon {
    margin-top: 0;
  }
}

.description, .subtitle {
  line-height: 24px;
  font-size: 16px;
  margin: 0 auto;
}

.description {
  margin-bottom: 42px;
}

.subtitle {
  width: 66%;
  text-align: center;
}

.event{
  max-width: 350px;
  margin: 20px;
}

.event_container{
  justify-content: center;
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  margin: $spacing-48 auto 0 auto;
  max-width: 100%;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr !important;
  }
}
</style>
