<template>
  <div >
    <h2>{{data.header}}</h2>
    <div class="faq_container"> 
      
    <div  v-for="(group, groupIndex) in groups" :key="group.header">
      <div class="group_header" @click="toggleGroup(groupIndex)">

      <h3 class="header">{{group.header}}</h3>
      <img v-if="group.expanded" src="/nuxt-images/icons/minus.png" class="expand-icon" />
      <img v-else src="/nuxt-images/icons/plus.png" class="expand-icon" />
      </div>
      <div v-if="group.expanded" class="content">
        <div v-for="question in group.questions" :key="question.question">
          <h4 class="question">{{question.question}}</h4>
          <p class="answer" v-html="$md.render(question.answer)"></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props:{
    data:{
      type: Object,
      required: true,
      default: null
    }
  },
  data(){
    return {
      groups: [],
    }
  },
  mounted(){
    this.groups = this.data.groups.map( (group: Object) =>({...group, expanded: false}))
  },
  methods:{
    toggleGroup(groupIndex: number):void{
      ((this as any).groups[groupIndex]).expanded = !((this as any).groups[groupIndex]).expanded
    }
  }
})
</script>

<style lang="scss" scoped>
  .group_header{
    padding: $spacing-16 $spacing-24;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background: #FFFFFF;
    border-bottom: 1px solid #999999;
  }

  .faq_container{ 
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
  }

  h2 {
    margin-bottom: $spacing-32;
    width: 100%;
    text-align: center;

    font-size: 36px;
    line-height: 44px;
    @media (min-width: $breakpoint-lg){
      font-size: 45px;
      line-height: 52px;
    }
  }

  .header {
    @media (min-width: $breakpoint-lg) {
      font-size: 32px;
      line-height: 36px;
      
    }
    font-size: 24px;
    line-height: 30px;
  }

  .content {
    padding: 1rem 23px;
    @media (min-width: $breakpoint-lg) {
      padding: 30px 23px;
    }
    background: #f5f5f5;
  }

  .question { 
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 8px;
    @media (min-width: $breakpoint-lg) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  .expand-icon {
    object-fit: scale-down;
  }

  .answer{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-lg) {
      line-height: 24px;
      font-size: 16px;
    }
  }
</style>