<template>
  <div class="slp-form-field">
    <div :class="isRequired && 'slp-form-field--required'">
      <label class="slp-form-field__label" for="input">
        {{ label }}
      </label>
      <input
        id="input"
        :type="type"
        name="input"
        :class="`slp-form-field__input ${inputFieldStyles}`"
        :placeholder="placeholder"
        :value="defaultValue"
        :required="isDisabled === false && isRequired ? true : false"
        :disabled="isDisabled"
        @keyup="onKeyUp"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpFormField',
  props: {
    defaultValue: {
      type: String,
      required: false,
      default: '',
    },
    isDisabled: {
      type: Boolean,
      required: false,
    },
    isRequired: {
      type: Boolean,
      required: false,
    },
    onKeyUp: {
      type: Function,
      required: false,
      default: () => null,
    },
    label: {
      type: String,
      required: false,
      default: null,
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    type: {
      type: String,
      required: true,
      default: 'text',
    },
    inputFieldStyles: {
      type: String,
      required: false,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.slp-form-field {
  position: relative;
  &__required {
    &:after {
      content: '*';
    }
  }
}

.slp-form-field__label {
  color: $color-text-300;
  font-size: 16px;
}

.slp-form-field__input {
  border: 1px solid $color-surface-700;
  border-radius: 8px;
  color: #666;
  display: block;
  font-size: 12px;
  margin-top: 0.4rem;
  outline: none;
  padding: 12px;
  width: 100%;
}

.slp-form-field input:focus {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.slp-form-field input:disabled {
  background: $color-surface-700;
  border: 1px solid $color-surface-700;
}

.slp-form-field input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid red;
}

.slp-form-field input:valid:focus:not(:placeholder-shown) {
  border: 1px solid green;
}

.slp-form-field--required label::after {
  content: '*';
}
</style>
