<template>
  <div>
    <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
    <div class="grid_container" :class="{'grayBackground': !data.without_bg}">
      <div class="header_container" :data-aos='data.content_aos_animation' :data-aos-duration='data.content_aos_duration' :data-aos-offset='data.aos_offset'>
        <div class="form_text__header" v-html="$md.render(data.header)"></div>
        <h3 v-if="data.subtitle" class="form_text__subtitle" v-html="$md.render(data.subtitle)"></h3>
      </div>
      <div class="form_text__container" :data-aos='data.content_aos_animation' :data-aos-duration='data.content_aos_duration' :data-aos-offset='data.aos_offset'>
        <div v-if="data.content" class="content" :class="{'slp-mt-96': !data.without_bg}">
          <div v-html="$md.render(data.content)"></div>
        </div>
        <div v-else class="content" :class="{'slp-mt-96': !data.without_bg}">
          <slot> </slot>
        </div>
        <NoticeBox v-if="data.notice_box" :text="data.notice_box" />
      </div>
      <div class="form_column" :data-aos='data.form_aos_animation' :data-aos-duration='data.form_aos_duration' :data-aos-offset='data.aos_offset'>
        <div class="form_container">
          <h3 class="form_header">{{ data.form_header }}</h3>
          <p v-if="!submitted" class="required_label">All fields required</p>
          <form
            v-if="!submitted"
            :id="`mktoForm_${data.form_id}`"
            class="mktoForm_container"
          ></form>
          <div v-else class="submitted_message">
            <h3>Submission received!</h3>
            <p>We'll be in contact shortly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import NoticeBox from '~/components/notice-box.vue'

export default Vue.extend({
  name:'MrktoForm',
  components: {
    NoticeBox,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      submitted: false,
    }
  },
  mounted() {
    window.MktoForms2.setOptions({
      formXDPath: '/rs/194-VVC-221/images/marketo-xdframe-relative.html',
    })
    window.MktoForms2.loadForm(
      '//page.gitlab.com',
      '194-VVC-221',
      this.data.form_id,
      (form) => {
        form.onSuccess(() => {
          this.$emit('submit')
          this.submitted = true
          dataLayer.push({
            event: 'demo',
            mktoFormId: form.getId(),
            eventCallback() {
              form.getFormElem().hide()
            },
            eventTimeout: 3000,
          })
          return false
        })
        function getgacid() {
          try {
            const tracker = ga.getAll()[0]
            return tracker.get('clientId')
          } catch (e) {
            return 'n/a'
          }
        }
        form.vals({
          gacid: getgacid(),
        })
      }
    )
  },
})
</script>

<style lang="scss" scoped>
.header_container {
  grid-area: header;
}

.submitted_message{
  h3 {
    font-size: 32px;
    line-height: 36px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: $breakpoint-lg){
    padding: 10px;
  }
}

.grid_container {
  display: grid;
  margin-bottom: $spacing-96;
  grid-template-columns: 1fr;
  grid-template-rows: 250px auto;
  grid-template-areas:
    'header'
    'form'
    'content';
  @media (min-width: $breakpoint-lg) {
    grid-template-rows: 300px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header form'
      'content form';
  }
}

.grayBackground:before {
  content: '';
  background-color: #f8f8f8;
  height: 410px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.form_text__header,
.form_text__subtitle {
  padding: 0;
  @media (min-width: $breakpoint-lg) {
    padding: 0 2rem;
  }
}

.form_text__subtitle {
  margin-bottom: $spacing-96;
}

.form_header {
  text-align: center;
  font-size: 32px;
  line-height: 36px;
}

.required_label {
  font-style: italic;
  margin: 1rem 0;
  font-size: 16px;
  @media (max-width: $breakpoint-lg) {
    padding-left: 10px;
  }
}

.header_container {
  padding-top: $spacing-64;
  text-align: center;
  @media (min-width: $breakpoint-lg) {
    padding-top: $spacing-96;
    text-align: left;
    .form_text__header h1,
    .form_text__header h2 {
      font-size: 45px;
      line-height: 52px;
    }
    h3 {
      font-size: 23px;
      line-height: 28px;
    }
  }

  .form_text__header {
    margin: 0 0 $spacing-16 0;
    font-size: 36px;
    line-height: 44px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 200px;
      pointer-events: none;
      height: 200px;
      top: -50px;
      background-image: url('/nuxt-images/backgrounds/particles-sales-2.svg');
      left: 0px;
      @media (min-width: $breakpoint-lg) {
        top: -70px;
        background-image: url('/nuxt-images/backgrounds/particles-sales.svg');
        left: -60px;
      }
    }
  }

  h3 {
    font-size: 19px;
    line-height: 16px;
  }
}

.form_text__container {
  grid-area: content;

  .content {
    @media (min-width: $breakpoint-lg) {
      padding-left: $spacing-32;
    }
  }

  .content::v-deep {
    ul {
      list-style: url('~/static/nuxt-images/icons/check-bullet-point.png');
      padding-left: $spacing-24;
      font-size: 16px;
      line-height: 24px;
      li {
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: 23px;
      line-height: 28px;
      margin-bottom: $spacing-24;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 750px;
  }

  p {
    font-size: 16px;
    margin-bottom: $spacing-16;
  }
}

.form_text__container,
.form_column {
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 3rem;
  }
}

.form_column {
  grid-area: form;
  @media (min-width: $breakpoint-lg) {
    padding: $spacing-96 $spacing-32 0 $spacing-32;
  }

  .form_container {
    position: relative;
    background: #ffffff;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    @media (min-width: $breakpoint-lg) {
      padding: $spacing-32;
    }
  }

  .form {
    text-align: left;
  }
}
</style>
<style lang="scss">

.mktoForm .mktoRequiredField .mktoAsterix {
  display: none !important;
}
.mktoForm .mktoRequiredField label.mktoLabel {
  text-transform: lowercase !important;
  &::first-letter {
    text-transform: uppercase;
  }
}

div.mktoErrorArrowWrap {
  display: none;
}

.mktoForm.mktoLayoutAbove input.mktoField:focus,
.mktoForm.mktoLayoutAbove select.mktoField:focus {
  box-shadow: none;
}

.mktoForm .mktoError div.mktoErrorMsg {
  background: transparent;
  color: #333;
  border: none;
  box-shadow: none;
  display: inline;
  text-shadow: none;
  font-size: 12px;
  line-height: 20px;

  span.mktoErrorDetail {
    display: inline;
  }
}

.mktoForm .mktoError {
  position: unset !important;
}

.mktoForm_container {
  width: 100% !important;

  .mktoField:not([type='radio']) {
    min-height: 48px;
  }

  .mktoFieldDescriptor .mktoFieldWrap input.mktoInvalid {
    border: 1px solid #f24f63;
  }

  .mktoFormRow {
    width: 100%;

    input:not([type='radio']) {
      width: 100%;
    }
  }
  .mktoHasWidth {
    width: 100% !important;
    margin-bottom: 16px;
  }
  .mktoFieldWrap,
  .mktoFormCol,
  #commentCapture {
    width: 100%;
    margin-bottom: 0px;
  }

  .mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    display: flex;
    input[type='checkbox'] {
      width: 30px !important;
    }
    label {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
    }
  }

  .mktoFieldWrap
    input:not([type='checkbox']):not([type='radio']):not([type='hidden']),
  .mktoFieldWrap select {
    width: 100% !important;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 5px;
  }

  .mktoFieldWrap label {
    float: left;
    margin-bottom: 4px;
  }

  .mktoButtonRow {
    width: 100% !important;

    .mktoButtonWrap {
      margin-left: 0px !important;
      width: 100% !important;

      button {
        width: 100% !important;
        background-color: #fa7035;
        color: #ffffff;
        box-shadow: 0px 4px 4px #00000040;
        display: inline-block;
        padding: 4px 30px;
        font-size: 16px;
        line-height: 40px;
        min-width: 140px;
        min-height: 52px;
        border: 0;
        border-radius: 4px;
        margin-bottom: 20px;
      }
    }
  }

  a:not(.btn):not(.slp-btn),
  a:not(.btn):not(.slp-btn):active,
  a:not(.btn):not(.slp-btn):hover,
  a:not(.btn):not(.slp-btn):focus {
    color: #7d2bd9;
  }
}
</style>
