<template>
    <vue-mermaid-string class="mermaid" :value="data.chart_info" />
</template>

<script>
import VueMermaidString from 'vue-mermaid-string';

export default {
  name: 'MermaidChart',
  components: {
      VueMermaidString
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  }
}
</script>

<style lang="scss" scoped>
    .mermaid {
       text-align: center;
    }
</style>