<template>
  <article class="notice-box">
      <p>{{ text }}</p>
  </article>
</template>

<script>
export default {
    name: 'NoticeBox',
    props: ['text'], // eslint-disable-line vue/require-prop-types
}
</script>

<style lang="scss" scoped>
.notice-box {
    width: 100%;
    background-color: $color-surface-100;
    border-top: 3px solid $color-primary-200;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: $spacing-16 $spacing-8 $spacing-16 $spacing-16;
    margin-bottom: $spacing-96;
    margin-top: $spacing-96;

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
}
</style>