<template>
  <div class='search-box slp-mt-24'>
    <SlpSearch class='search-box__icon' />
    <input
      id='error-search'
      class='search-box__input'
      type='text'
      placeholder='What are you looking for?'
      @keyup='search'
    />
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpSearch from '~/components/navigation/assets/search.vue'

export default Vue.extend({
  name: 'SearchInput',
  components: { SlpSearch },
  methods: {
    search(event: KeyboardEvent) {
      const target = event.target as HTMLInputElement
      if (event.key === 'Enter' && target) {
        window.location.hash = '#stq=' + target.value
      }
    }
  }
})
</script>

<style scoped lang='scss'>
.search-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  width: 100%;

  &__icon {
    position: absolute;
    left: 20px;
    font-size: 15px;
    color: $color-text-300;
  }

  &__input {
    width: 100%;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 18px 24px 18px 48px;

    &:active,
    &:focus,
    &:focus-visible {
      outline: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }
  }
}
</style>
