<template>
  <SlpColumn>
    <h5>Share:</h5>
    <div class='share'>
      <a class='share__button share__button--facebook' :href='facebookUrl' target='_blank'>
        <SlpFaFacebook />
      </a>
      <a class='share__button share__button--twitter' :href='twitterUrl' target='_blank'>
        <SlpFaTwitter />
      </a>
      <a class='share__button share__button--linkedin' :href='linkedInUrl' target='_blank'>
        <SlpFaLinkedin />
      </a>
    </div>
  </SlpColumn>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpFaFacebook from '~/static/nuxt-images/ico/fa-facebook.vue'
import SlpFaTwitter from '~/static/nuxt-images/ico/fa-twitter.vue'
import SlpFaLinkedin from '~/static/nuxt-images/ico/fa-linkedin.vue'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'ShareButtons',
  components: {
    SlpColumn,
    SlpFaLinkedin,
    SlpFaTwitter,
    SlpFaFacebook
  },
  data() {
    return {
      siteUrl: '',
      title: '',
      facebookUrl: '',
      twitterUrl: '',
      linkedInUrl: ''
    }
  },
  mounted() {
    this.siteUrl = window.location.href
    this.title = window.document.title

    this.facebookUrl = `http://www.facebook.com/sharer.php?u=${this.siteUrl}`
    this.twitterUrl = `http://twitter.com/share?url=${this.siteUrl}&text=${this.title}`
    this.linkedInUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${this.siteUrl}&title=${this.title}&summary=&source=`
  }
})
</script>

<style scoped lang='scss'>
$button-size: 2rem;
$svg-size: 1.5rem;

.share {
  display: flex;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    width: $button-size;
    height: $button-size;
    border-radius: 4px;
    filter: brightness(100%);
    transition: background .15s ease;

    &:hover {
      filter: brightness(90%);
    }

    svg {
      color: white;
      height: $svg-size;
      width: $svg-size;
    }

    &--facebook {
      background-color: #3b5998;
    }

    &--twitter {
      background-color: #4099ff;
    }

    &--linkedin {
      background-color: #007bb5;
    }
  }
}
</style>
