<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in partner.components"
      :key="component.name"
      :data="component.data"
    ></component>
    <FreeTrialCTA variant="image" primary-button-type="partners" secondary-button-type="partners_learn_more" title="Become a GitLab Partner" subtitle="Collaborate with the industry - leading complete DevOps platform that supports endless possibilities through an open source/open core business model. From cloud-minded dreamers to workflow weavers - everyone grows with GitLab."/>
  </SlpContainer>
</template>

<script lang="ts">
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import CallToAction from '~/components/cta.vue'
import SlpContainer from '~/components/container.vue'
import FeaturedPartners from '~/components/partners/featured-partners.vue'
import Benefits from '~/components/benefits.vue';
import { getPageMetadata } from '~/common/meta';
import FreeTrialCTA from '~/components/free-trial-cta.vue'
export default Vue.extend({
  components:{
    CallToAction,
    SlpContainer,
    FeaturedPartners,
    Benefits,
    FreeTrialCTA
  },
  async asyncData({ $content, params, error }: any) {  // eslint-disable-line @typescript-eslint/no-unused-vars
    try {
      const partner = await $content(`partners/index`).fetch()
      return { partner }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner)
  },
})
</script>