<template>
  <div>
    <div v-if="shouldDisplay" id="global-banner">
      <div>
        {{ doc.text }}<a v-if="doc.cta_link" id="global-banner__link" :href="doc.cta_link">{{ doc.cta_text }}</a>
      </div>
      <div id="global-banner__dismiss" @click="dismissBanner">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M26.6,1a3.08,3.08,0,0,1,4.5,0,3.08,3.08,0,0,1,0,4.5L20.5,16,31,26.6a3.18,3.18,0,0,1-4.5,4.5L16,20.5,5.4,31A3.08,3.08,0,0,1,.9,31a3.08,3.08,0,0,1,0-4.5L11.5,16,1,5.4A3,3,0,0,1,1,1,3.17,3.17,0,0,1,5.5,1L16,11.5Z" fill="currentColor" fill-rule="evenodd"/></svg>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpBanner',
  props: {
    doc: {
      type: Object,
      required: true,
      default: null,
    },
    cookieName: {
      type: String,
      required: true,
      default: 'hasSeenGlobalBanner'
    }
  },
  data() {
    return {
      shouldDisplay: false,
    };
  },
  beforeMount() {
    // Checks if cookie deosn't exist
    if (!document.cookie.split(';').some((item) => item.trim().startsWith(`${this.cookieName}=`))) {
      this.shouldDisplay = true;
      document.cookie = `${this.cookieName}=true;path=/`;
    }
  },
  methods: {
    dismissBanner() {
      this.shouldDisplay = false;
    }
  }
})
</script>

<style lang="scss" scoped>
  #global-banner {
    top: 0;
    font-size: 23px;
    line-height: 28px;
    background-color: $color-secondary-200;
    color: $color-text-50;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60px;
    text-align: center;
  }
  #global-banner__link {
    color: #fff;
    text-decoration: underline;
  }
  #global-banner__link:hover {
    color: #fff;
  }
  #global-banner__dismiss {
    line-height: 0;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    right: 12px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
</style>
