<template>
  <div :class="`${!item.links ? 'slp-pt-16' : ''}`" class="navigation-dropdown">
    <a v-if="!item.links" :href="item.url" class="navigation-dropdown__button" :data-nav="item.heading">
      {{ item.heading }}
    </a>
    <slot v-else>
      <button class="navigation-dropdown__heading" @click="openItemDropDown">
        <div class="navigation-dropdown__heading-container">
          <p class="navigation-dropdown__heading-text">
            {{ item.heading }}
          </p>
          <chevron-lg
            :direction="`${mobileItemIsActive ? 'top' : 'bottom'}`"
            fill="#000"
            class="slp-inline"
          />
        </div>
      </button>
      <ul
        :class="`${
          mobileItemIsActive
            ? 'navigation-dropdown__item-active'
            : 'navigation-dropdown__item'
        }`"
      >
        <div v-if="item.links[0].subheading">
          <div v-for="link in item.links" :key="link.name" :href="link.url">
            <p class="navigation-dropdown__subheading">
              {{ link.subheading }}
            </p>
            <li
              v-for="subLink in link.links"
              :key="subLink.name"
              class="slp-mt-0 slp-pb-16 slp-pl-16"
            >
              <a :href="subLink.url" class="navigation-dropdown__link" :data-nav="subLink.name" :data-nav-tab="item.heading">{{
                subLink.name
              }}</a>
            </li>
          </div>
        </div>
        <li
          v-for="itemLink in item.links"
          v-else
          :key="itemLink.name"
          class="slp-pb-16"
        >
          <a class="navigation-dropdown__link slp-py-8" :href="itemLink.url" :data-nav="itemLink.name" :data-nav-tab="item.heading">{{
            itemLink.name
          }}</a>
        </li>
      </ul>
    </slot>
    <slp-horizontal-rule class="navigation-dropdown__line" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue'

export default Vue.extend({
  name: 'SlpNavigationMobileDropDown',
  components: {
    ChevronLg,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      mobileItemIsActive: false,
    }
  },
  methods: {
    openItemDropDown() {
      this.mobileItemIsActive = !this.mobileItemIsActive
    },
  },
})
</script>

<style lang="scss" scoped>
.navigation-dropdown {
  overflow: hidden;

  &__button {
    color: $color-text-300;
    padding-bottom: $spacing-16;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__heading {
    width: 100%;
    border: none;
    outline: none;
    padding: 0px;
  }

  &__heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    align-items: center;
    cursor: pointer;
  }

  &__heading-text {
    margin-bottom: 0px;
    color: $color-text-300;
  }

  &__line {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #e5e7eb;
  }

  &__item {
    position: absolute;
    padding-bottom: 0px;
    left: -100%;

    &:focus-within {
      position: relative;
      left: 0px;
    }
  }

  &__item-active {
    position: relative;
    overflow-x: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }

  &__subheading {
    color: $color-text-300;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-top: $spacing-4;
    padding-bottom: $spacing-16;
    font-size: 10px;
  }

  &__link {
    font-size: 14px;
    color: $color-secondary-200;
  }
}
</style>
