<template>
  <nav class="navigation">
    <slp-navigation-mobile
      :content="content"
      :search-on-click="toggleDesktopSearch"
    />
    <slp-navigation-desktop
      :content="content"
      :search-on-click="toggleDesktopSearch"
    />
    <slp-search-bar
      v-show="searchVisible"
      ref="searchBar"
      :on-close="closeDesktopSearch"
    />
    <!-- <slp-banner cookie-name="nameOfCookie" :doc="banner" /> -->
  </nav>
</template>

<script lang="ts">
/**
 * Slippers pair programming session on accessibility: https://youtu.be/bE7A9IYSRJs
 */
import Vue from 'vue'
import SlpNavigationMobile from './navigation-mobile.vue'
import SlpNavigationDesktop from './navigation-desktop.vue'
import SlpSearchBar from './search-bar.vue'
import SlpBanner from './banner.vue' // eslint-disable-line vue/no-unused-components

export default Vue.extend({
  name: 'SlpNavigation',
  components: {
    SlpNavigationMobile,
    SlpNavigationDesktop,
    SlpSearchBar,
    SlpBanner, // eslint-disable-line vue/no-unused-components
  },
  data() {
    return {
      content: [],
      banner: {},
      searchVisible: false,
    }
  },
  async fetch() {
    const { content, banner } = (await this.$content('navigation').fetch()) as any
    this.content = content
    this.banner = banner
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible
      if (this.searchVisible) {
        this.sendFocusToSearch()
      }
    },
    openDesktopSearch() {
      this.searchVisible = true
      this.sendFocusToSearch()
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus()
      }, 350)
    },
  },
})
</script>

<style lang="scss" scoped>
.navigation {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1020;
  background-color: $color-surface-50;
  font-size: 16px;
}
</style>
