<template>
  <div
    :class="`${
      mobileNavIsActive ? 'navigation-mobile-active' : 'navigation-mobile'
    }`"
  >
    <header class="navigation-mobile__header">
      <a href="/" class="navigation-mobile__link" data-nav="logo">
        <slp-icon class="navigation-mobile__logo" />
      </a>
      <div>
        <SlpButton 
          class="slp-mr-8 navigation-mobile__outline-button"
          variant="outline"
          href="/sales"
          data-nav="sales"
          >Talk to an expert</SlpButton>
        <SlpButton
          href="https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=default-saas-trial"
          data-nav="freetrial"
          >Get free trial</SlpButton>
        <button
          id="search-header"
          class="navigation-search js-search-toggle navigation-mobile__hamburger"
          aria-label="Search"
          type="button"
          @click="searchOnClick"
          >
            <slp-search/>
        </button>
        <a href="https://gitlab.com/users/sign_in" style="padding:16px">
          <slp-user/>
        </a>
        <button
          id="slpMobileNavActive"
          aria-label="Toggle Navigation"
          class="navigation-mobile__hamburger"
          @click="openMobileNavigation"
        >
          <slp-close v-if="mobileNavIsActive" class="navigation-mobile__close" />
          <slp-hamburger v-else class="navibation-mobile__open" />
        </button>
      </div>
    </header>

    <div
      :class="`${
        mobileNavIsActive
          ? 'navigation-mobile__dropdown-active'
          : 'navigation-mobile__dropdown'
      }`"
    >
      <slp-form-field
        class="navigation-mobile__search"
        placeholder="Search GitLab.com"
        input-field-styles="js-search slp-border"
        type="search"
        :on-key-up="search"
      />
      <slp-navigation-mobile-drop-down
        v-for="item in content"
        :key="item.heading"
        :item="item"
      />
      <a
        class="navigation-mobile__login"
        href="https://gitlab.com/users/sign_in"
        data-nav="login"
        >Login</a
      >
      <div class="navigation-mobile__free-trial">
        <SlpButton
          class="slp-mb-8"
          variant="outline"
          href="https://about.gitlab.com/sales"
          flex
          >Talk to an expert</SlpButton
        >
        <SlpButton
          class="slp-mb-16"
          href="https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=default-saas-trial"
          data-nav="freetrial"
          flex
          >Get Free Trial</SlpButton
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpNavigationMobileDropDown from './navigation-mobile-drop-down.vue'
import SlpIcon from '~/static/nuxt-images/ico/icon.vue'
import SlpSearch from '~/components/navigation/assets/search.vue'
import SlpHamburger from '~/static/nuxt-images/ico/hamburger.vue'
import SlpClose from '~/static/nuxt-images/ico/close.vue'
import SlpUser from '~/components/navigation/assets/user.vue';
import SlpButton from '~/components/button.vue'
import SlpFormField from '~/components/form-field.vue'

export default Vue.extend({
  name: 'SlpNavigationMobile',
  components: {
    SlpButton,
    SlpIcon,
    SlpSearch,
    SlpHamburger,
    SlpClose,
    SlpUser,
    SlpNavigationMobileDropDown,
    SlpFormField,
  },
  props: {
    content: {
      required: true,
      type: Array,
    },
    searchOnClick: {
      required: true,
      type: Function,
    },
  },
  data() {
    return {
      mobileNavIsActive: false,
    }
  },
  methods: {
    openMobileNavigation() {
      this.mobileNavIsActive = !this.mobileNavIsActive
    },
    search(event: KeyboardEvent) {
      const target = event.target as HTMLInputElement
      if (event.key === 'Enter' && target) {
        window.location.hash = '#stq=' + target.value
      }
    },
  },
})
</script>

<style lang="scss" scoped>
.navigation-mobile-active {
  width: 100vw !important;
  position: fixed;
  overflow-y: auto;
  background-color: $color-surface-50;
  top: 0px;
  bottom: 64px;
}

.navigation-mobile {
  @media (min-width: $breakpoint-xl) {
    display: none;
  }

  &:focus-within {
    overflow-y: auto;
    top: 0px;
    bottom: 32px;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    fill: currentColor;
    height: 70px;
  }

  &__link{
    padding-left: 0;
  }

  &__logo {
    padding: $spacing-8 $spacing-8 $spacing-8 $spacing-16;
    display: inline-block;
  }

  &__outline-button {
    @media (max-width: $breakpoint-sm) {
      display: none !important;
    }
  }

  &__hamburger {
    padding: $spacing-16;
    outline: none;
    border: none;
  }

  &__close {
    display: inline-block;
    color: black;
    fill: currentColor;
  }

  &__open {
    display: inline-block;
    margin-right: $spacing-8;
  }

  &__login {
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    color: black;
    display: block;
  }

  &__free-trial {
    position: fixed;
    background-color: $color-surface-50;
    bottom: 0px;
    right: 0px;
    left: 0px;
    right: 0px;
    padding-right: $spacing-16;
    padding-left: $spacing-16;
  }
}

.navigation-mobile__dropdown-active {
  position: relative;
  margin-left: $spacing-16;
  margin-right: $spacing-16;
}

.navigation-mobile__dropdown {
  position: absolute;
  transform: translateX(-100%) translateY(-100%);

  &:focus-within {
    position: relative;
    transform: none;
    margin-left: $spacing-16;
    margin-right: $spacing-16;
  }
}

.navigation-mobile__search {
  box-sizing: border-box;
  color: $color-text-300;
  font-size: 16px;
  margin-top: 0;
  position: relative;
}
</style>
