<template>
  <section class="smb-cta">
    <div class="cta__title-column slp-text-align-center">
      <h1 class="slp-text-5xl">{{ data.title }}</h1>
      <h3 class="slp-my-16 slp-text-xxl">{{ data.subtitle }}</h3>
      <div class="slp-mb-96">
        <SlpButton
          class="slp-mr-8"
          variant="primary"
          :href="data.free_trial_button.link"
          :data-ga-name="data.free_trial_button.data_ga_name"
          :data-ga-location="data.free_trial_button.data_ga_location"
          >{{ data.free_trial_button.text }}</SlpButton
        >
        <SlpButton
          variant="outline"
          :href="data.contact_sales_button.link"
          :data-ga-name="data.contact_sales_button.data_ga_name"
          :data-ga-location="data.contact_sales_button.data_ga_location"
          >{{ data.contact_sales_button.text }}</SlpButton
        >
      </div>
      <div class="cta__companies slp-flex">
        <span
          v-for="enterprise in data.showcased_enterprises"
          :key="enterprise.alt"
          class="slp-mr-4 slp-mt-8"
        >
          <a :href="enterprise.url" target="_blank">
            <img
              class="cta__company-icon"
              :src="enterprise.image_url"
              :alt="enterprise.alt"
            />
          </a>
        </span>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'

export default Vue.extend({
  name: 'EnterpriseCTA',
  components: {
    SlpButton
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.smb-cta {
  margin-top: 128px;

  h1 {
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -24px;
    }

    &:after {
      background-image: url('/nuxt-images/backgrounds/right-heading-bg.svg');
      right: -17px;
    }

    &:before {
      background-image: url('/nuxt-images/backgrounds/left-heading-bg.svg');
      left: -24px;
    }
  }

  h3 {
    max-width: 918px;
    margin: 0 auto;
  }

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-48;
    text-align: center;

    h1 {
      font-size: 36px;
      line-height: 44px;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
    }

    .slp-btn {
      width: 100%;
      margin-top: $spacing-8;
    }

    .cta__companies {
      justify-content: space-around;
      
      span {
        margin: 8px 24px;
      }
      
      &::before {
        left: calc(-50vw + 50%);
      }
    }

    .cta__title-column {
      margin-right: 0;
      margin-bottom: $spacing-24;
    }
  }

}

.cta__companies {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &:before {
    content: " ";
    background: $color-surface-100;
    height: calc(100% + 48px);
    left: calc(-50vw + 50%);
    width: 100vw;
    top: -24px;
    position: absolute;
    z-index: -1;
  }

  img:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
  }
}

.cta__media-column {
  margin: 0 auto;
}

</style>
