<template>
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.3248 7.22461C11.7513 6.58854 12 5.82332 12 5C12 2.79086 10.2091 1 8 1C5.79086 1 4 2.79086 4 5C4 5.82332 4.24874 6.58854 4.67518 7.22461C3.11714 7.77132 2 9.2552 2 11V15H14V11C14 9.2552 12.8829 7.77132 11.3248 7.22461ZM10 5C10 6.10457 9.10457 7 8 7C6.89543 7 6 6.10457 6 5C6 3.89543 6.89543 3 8 3C9.10457 3 10 3.89543 10 5ZM6 9C4.89543 9 4 9.89543 4 11V13H12V11C12 9.89543 11.1046 9 10 9H6Z" fill="#333333"/>
</svg>
</template>
<script>
export default {
  name: 'SlpUser',
}
</script>
