<template>
  <footer class="footer">
    <slp-icon class="footer__logo" />
    <SlpContainer class="footer__container">
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="https://twitter.com/gitlab" data-ga-name="twitter" data-ga-location="footer">
            <SlpTwitter class="footer__social-icon" />
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://www.facebook.com/gitlab" data-ga-name="facebook" data-ga-location="footer">
            <SlpFacebook class="footer__social-icon" />
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg" data-ga-name="youtube" data-ga-location="footer">
            <SlpYoutube class="footer__social-icon" />
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://www.linkedin.com/company/gitlab-com" data-ga-name="linkedin" data-ga-location="footer">
            <SlpLinkedin class="footer__social-icon" />
          </a>
        </li>
      </ul>
      <div class="footer__content">
        <div v-for="item in content" :key="item.heading" class="footer__column">
          <h3 class="footer__heading">
            {{ item.heading }}
          </h3>
          <ul class="footer__links">
            <li v-for="link in item.links" :key="link.name" class="footer__item">
              <button
                v-if="link.is_actually_onetrust_button"
                :id="link.id"
                class="ot-sdk-show-settings"
              >
                {{ link.name }}
              </button>
              <a v-else :href="link.url" class="footer__link" :data-ga-name="link.name" data-ga-location="footer">
                {{ link.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="footer__trademark">
        Git is a trademark of Software Freedom Conservancy and our use of
        'GitLab' is under license
      </p>
      <p class="footer__source">
        View
        <a
          href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/sites/marketing/source/index.html.haml"
          class="footer__source-link"
          data-ga-name="page source"
          data-ga-location="footer"
          >page source</a
        >
        — Edit in
        <a
          href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/marketing/source/index.html.haml"
          class="footer__source-link"
          data-ga-name="web ide"
          data-ga-location="footer"
          >Web IDE</a
        >
        — please
        <a
          href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md"
          class="footer__source-link"
          data-ga-name="please contribute"
          data-ga-location="footer"
          >contribute</a
        >.
        &copy;
        {{currentYear}} GitLab B.V.
      </p>
    </SlpContainer>
  </footer>
</template>

<script>
import SlpIcon from '~/static/nuxt-images/ico/icon.vue'
import SlpContainer from '~/components/container.vue'
import SlpTwitter from '~/static/nuxt-images/ico/fa-twitter.vue'
import SlpFacebook from '~/static/nuxt-images/ico/fa-facebook.vue'
import SlpYoutube from '~/static/nuxt-images/ico/fa-youtube.vue'
import SlpLinkedin from '~/static/nuxt-images/ico/fa-linkedin.vue'

export default {
  name: 'SlpFooter',
  components: {
    SlpIcon,
    SlpContainer,
    SlpTwitter,
    SlpFacebook,
    SlpYoutube,
    SlpLinkedin,
  },
  data() {
    return {
      content: [],
      currentYear: new Date().getFullYear(),
    }
  },
  async fetch() {
    const { content } = await this.$content('footer').fetch()
    this.content = content
  },
}
</script>

<style lang="scss" scoped>
.footer {
  background-color: #6b4fbb;
  margin-top: 80px;
  position: relative;
  color: $color-text-50;
  padding-top: 50px;
  z-index: 1030;

  &__logo {
    position: absolute;
    left: 50%;
    top: -36px;
    margin-left: -32.5px;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__social {
    text-align: center;
    margin-bottom: $spacing-32;
  }

  &__social-item {
    width: 45px;
    display: inline-block;
    font-size: 26px;

    &:hover {
      .footer__social-icon {
        color: #fba225;
      }
    }
  }

  &__social-icon {
    width: 28px;
    height: auto;
    color: $color-text-50;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__column {
    padding: $spacing-24;
  }

  &__heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }

  &__links {
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    color: $color-text-50;

    &:hover {
      color: #fba225;
    }
  }

  &__item {
    margin-top: 8px;
  }

  &__trademark {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    margin-top: 100px;
  }

  &__source {
    background-color: #548;
    position: absolute;
    left: 0;
    right: 0;
    padding: 6px 15px 8px;
    color: $color-text-50;
    font-size: 15px;
    text-align: center;
  }

  &__source-link {
    text-decoration: underline;
    color: $color-text-50;
  }
  // OneTrust button in footer
  #ot-sdk-btn.ot-sdk-show-settings,
  #ot-sdk-btn.optanon-show-settings {
    color: $color-text-50 !important;
    border: 0 !important;
    border: none !important;
    padding: 0 !important;
    font-size: 16px !important;
    font-family: 'Source Sans Pro', sans-serif !important;

    &:hover {
      background-color: inherit !important;
      color: #fba225 !important;
    }
  }
}
</style>
