<template>
  <div class="desktopMenu" style="top: 40px !important; right: 0 !important">
    <slp-button
      :href="ctaLink"
      class="desktopMenu__cta"
      style="display: block !important"
      variant="charcoal"
      >{{ ctaText }}</slp-button
    >
    <ul>
      <li
        v-for="(link, index) in links"
        :key="`eventNavigation${link.href}`"
        style="width: 215px !important"
      >
        <a
          :class="`slpEventNavigationLink ${
            index === currentLinkIndex ? 'active' : ''
          }`"
          :href="link.href"
          >{{ link.title }}</a
        >
      </li>
    </ul>
  </div>
</template>

<script>

import SlpButton from '~/components/button.vue'

export default {
  name: 'SlpEventNavigationDesktopMenu',
  components: {
    SlpButton
  },
  props: {
    links: {
      type: Array,
      required: true,
      default: null,
    },
    ctaLink: {
      type: String,
      required: true,
      default: '#',
    },
    ctaText: {
      type: String,
      required: true,
      default: 'Primary CTA',
    },
    currentLinkIndex: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data() {
    return {
      activeLinkIndex: 0,
    }
  },
}
</script>

<style lang="scss" scoped>
.desktopMenu {
  background: #fff;
  display: none;
  right: 0;
  max-width: 1400px;
  padding: 16px 0;
  padding-left: 16px;
  top: 100%;
  width: 100vw;
  @media (min-width: $breakpoint-lg) {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    transform: none;
    width: max-content;
  }
}

.desktopMenu__cta {
  display: block;
  margin: 0 auto;
  width: 91.6666%;
  @media (min-width: $breakpoint-lg) {
    margin-bottom: 96px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: max-content;
  }
}

ul {
  text-align: right;
}

li {
  margin-bottom: 22px;
}

a {
  color: #7d2bd9;
  font-size: 16px;
  @media (min-width: $breakpoint-lg) {
    font-size: 19px;
  }
}
</style>
