<template>
  <div class="demo">
    <SlpContainer>
      <SlpRow class="grayBackground">
        <SlpColumn class="text__container" :cols="6">
          <h1 class="text__header">{{ demo.data.header }}</h1>
          <h3 class="text__subtitle">
            {{ demo.data.subtitle }}
          </h3>
          <div class="content" v-html="$md.render(demo.data.content)"></div>
        </SlpColumn>
        <SlpColumn class="column" :cols="6" >
          <featured-video :data="demo.demo_video"/>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import { getPageMetadata } from '~/common/meta'
import SlpContainer from '~/components/container.vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import FeaturedVideo from '~/components/featured-video.vue'

export default Vue.extend({
  components: {
    SlpContainer,
    SlpColumn,
    SlpRow,
    FeaturedVideo
  },
  async asyncData({ $content, error }: any) {
    try {
      const demo = await $content('demo').fetch()
      return { demo }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).demo)
  },
  beforeMount() {
    init({
      once: true
    })
  }
})
</script>


<style lang="scss" scoped>
.demo {
  .grayBackground:before {
    content: "";
    background-color: $color-surface-100;
    height: 410px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .text__subtitle {
    margin-bottom: $spacing-96;
  }

  .text__container {
    padding: $spacing-32;
    position: relative;
    
    @media (min-width: $breakpoint-lg) { 
      padding: $spacing-96 0;
    }

    h1 {
      margin: 0 0 $spacing-16 0;
      font-size: 45px;
      line-height: 52px;
      position: relative;
    
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      top: -70px;
      background-image: url('/nuxt-images/backgrounds/particles-sales.svg');
      left: -60px;
    }
  }

  h3 {
    font-size: 23px;
    line-height: 28px;
  }

  .content::v-deep {
    ul {
      list-style: url('~/static/nuxt-images/icons/check-bullet-point.png');
      padding-left: $spacing-24;
      font-size: 16px;
      line-height: 24px;

      li {
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 23px;
      line-height: 28px;
      margin-bottom: $spacing-24;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 750px;
  }

  p {
    font-size: 16px;
    margin-bottom: $spacing-16;
  }

  .text__decoration {
    position: absolute;
    left: -5%;
  }
}

  .column {
    @media (min-width: $breakpoint-lg) { 
      padding: $spacing-96 $spacing-32;
    }

    .container::v-deep {
      .videoCard {
        background: transparent;
      }
    }
  }
}
</style>