<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="(component, index) in sales.components"
      :key="component.name + `-${index}`"
      :data="component.data"
    >
      <component :is="component.child.name" v-if="component.child" :data="component.child.data" ></component>
    </component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import { MetaInfo } from 'vue-meta/types/vue-meta'
import { init } from 'aos'
import { getPageMetadata } from '~/common/meta'
import MrktoForm from '~/components/form.vue';
import SlpContainer from '~/components/container.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'
import PullQuote from '~/components/pull-quote.vue';
import Faq from '~/components/faq.vue'

export default Vue.extend({
  components: {
    MrktoForm,
    SlpContainer,
    PullQuote,
    FreeTrialCTA,
    Faq
  },
  async asyncData({ $content, error }: any) {
    try {
      const sales = await $content('sales').fetch()
      return { sales }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).sales)
  },
  beforeMount() {
    init({
      once: true
    })
  }
})
</script>

