<template>
  <div>
    <SlpContainer>
      <SMBHeader :data=doc.cta_block />
    </SlpContainer>
    <EnterpriseHighlights :data=doc.customer_highlight_block />
    <SlpContainer>
      <FreeTrialCTA :data=doc.free_trial_block_1 />
    </SlpContainer>
    <SlpContainer variant="grey-100">
      <EnterpriseFeatureList :data=doc.feature_list_block />
    </SlpContainer>
    <SlpContainer>
      <FreeTrialCTA :data=doc.free_trial_block_2 variant="image" />
    </SlpContainer>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'
  import SMBHeader from "~/components/small-business/header.vue";
  import EnterpriseFeatureList from "~/components/enterprise/feature-list.vue";
  import EnterpriseHighlights from "~/components/enterprise/customer-highlights.vue";
  import FreeTrialCTA from "~/components/enterprise/free-trial-cta.vue";
  import SlpContainer from "~/components/container.vue";

  export default Vue.extend({
    components: {
      SMBHeader,
      EnterpriseFeatureList,
      EnterpriseHighlights,
      FreeTrialCTA,
      SlpContainer,
    },
    async asyncData({ $content, params }: any) {
      const doc = await $content('small-business', params.slug).fetch();
      return { doc };
    },
    head() {
      const title = 'GitLab for Small Business - Collaboration made easy'
      const description =
        'Accelerate your software delivery with GitLab’s DevOps platform, lowering your development costs and streamlining team collaboration'
      const image = '/nuxt-images/open-graph/gitlab-smb-opengraph.png'

      return {
        title,
        meta: [
          {
            hid: 'twitter: title',
            name: 'twitter:title',
            content: title,
          },
          { hid: 'description', name: 'description', content: description },
          {
            hid: 'twitter:description',
            name: 'twitter:description',
            content: description,
          },
          { hid: 'og:description', name: 'og:description', content: description },
          { hid: 'og:image', name: 'og:image', content: image },
          { hid: 'twitter:image', name: 'twitter:image', content: image },
        ],
      }
    },
  })
</script>

