<template>
  <svg
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    @mouseover="isHovered = true"
    @mouseleave="isHovered = false"
  >
    <g filter="url(#filter0_d_3971_2603)">
      <circle
        r="20"
        transform="matrix(1 1.74846e-07 1.74846e-07 -1 24 20)"
        class="container"
        :fill="((isActive || isHovered) && '#7D2BD9') || '#404040'"
      />
      <path
        d="M21.7746 15.3504C21.4085 14.9843 21.4085 14.3907 21.7746 14.0246C22.1407 13.6585 22.7343 13.6585 23.1004 14.0246L27.7879 18.7121C28.154 19.0782 28.154 19.6718 27.7879 20.0379L23.1004 24.7254C22.7343 25.0915 22.1407 25.0915 21.7746 24.7254C21.4085 24.3593 21.4085 23.7657 21.7746 23.3996L25.7992 19.375L21.7746 15.3504Z"
        fill="white"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_3971_2603"
        x="0"
        y="0"
        width="48"
        height="48"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_3971_2603"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_3971_2603"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpArrowCircularRight',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isHovered: false,
    }
  },
})
</script>
<style lang="scss" scoped>
.container {
  transition:  all 0.3s ease-in-out;
}
</style>