<template>
  <svg
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    @mouseover="isHovered = true"
    @mouseleave="isHovered = false"
  >
    <g filter="url(#filter0_d_3971_2600)">
      <circle
        r="20"
        transform="matrix(-1 0 0 1 24 20)"
        class="container"
        :fill="((isActive || isHovered) && '#7D2BD9') || '#404040'"
      />
      <path
        d="M26.2254 24.6496C26.5915 25.0157 26.5915 25.6093 26.2254 25.9754C25.8593 26.3415 25.2657 26.3415 24.8996 25.9754L20.2121 21.2879C19.846 20.9218 19.846 20.3282 20.2121 19.9621L24.8996 15.2746C25.2657 14.9085 25.8593 14.9085 26.2254 15.2746C26.5915 15.6407 26.5915 16.2343 26.2254 16.6004L22.2008 20.625L26.2254 24.6496Z"
        fill="white"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_3971_2600"
        x="0"
        y="0"
        width="48"
        height="48"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_3971_2600"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_3971_2600"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>
<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpArrowCircularLeft',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isHovered: false,
    }
  },
})
</script>
<style lang="scss" scoped>
.container {
  transition:  all 0.3s ease-in-out;
}
</style>