<template>
  <section class="slp-mb-64">
    <SlpRow class="slp-mb-24">
      <SlpColumn class="feature-list-header" :cols="7">
        <img :src="data.icon" />
        <h2 class="slp-mb-4" :class="data.subtitle ? 'slp-mb-4' : 'slp-mb-24'">{{ data.title }}</h2>
        <p v-if="data.subtitle" class="slp-mb-24" v-html="$md.render(data.subtitle)"></p>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-justify-content-center">
      <SlpColumn
        v-for="feature in data.features"
        :key="feature.title"
      >
        <div class="feature">
          <img class="feature__icon" :src="feature.icon" />
          <h3 class="feature__title">{{ feature.title }}</h3>
          <div class="feature__subfeatures" v-html="$md.render(feature.description)"></div>
          <img
            v-if="feature.image_url"
            class="feature__image"
            :src="feature.image_url"
            :alt="feature.image_alt"
          />
          <div
            v-if="feature.image_tagline"
            class="feature__imagetagline"
            v-html="$md.render(feature.image_tagline)"
          ></div>
        </div>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'SolutionsFeatureList',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
.feature-list-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  padding: $spacing-32;
  margin: $spacing-8;
  margin-bottom: $spacing-32;
  background-color: #f5f5f5;
  position: relative;
  height: 100%;

  &__icon {
    position: absolute;
    top: -$spacing-16;
    height: 35px;
    width: 35px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: $spacing-8;
    font-size: $font-size-default;
  }

  &__description {
    margin-bottom: $spacing-16;
  }

  &__subfeatures {
    &::v-deep p {
      margin-bottom: $spacing-16;
    }

    &::v-deep ul {
      list-style: disc;
      margin-left: $spacing-48;
      li {
        margin-top: $spacing-8;
      }
    }
  }

  &__image {
    width:100%;
    margin-top: $spacing-16;
  }

  &__imagetagline {
    font-size: 12px;
  }

  &__disclaimer {
    font-size: 12px;
  }
}
</style>
