<template>
  <section class="resources slp-mb-64">
    <h3 class="resources__header slp-text-3xl">{{ data.title }}</h3>
    <div class="resources__list" v-html="$md.render(data.list)"></div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'SolutionsFeatureBlock',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
  .resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .resources__header{
    margin-bottom: $spacing-24;
    font-weight: 700;
    color: #2c3038;
  }

  .resources__list{
    font-weight: 400;
    font-size: 19px;
    color: #777;
    line-height: 24px;
    &::v-deep ul li {
      padding-top: 10px;
    }
  }
</style>
